//popup promo
.popup.find-promo
    .wrp-popup.promo
        .c-popup
            .btn-close
                a(href="javascript:void(0);" onclick="$('.popup.find-promo').hide();")
                    i.icon.close-bold

            .wrp-content.simple-bar
                .c-title
                    h4 Promo   
                .c-promo
                    .row
                        article.promo
                            .wrp-promo
                                .wrp-img
                                    img(src="img/content/3497.jpg", alt="")
                                    
                                    a(href="")

                                
                                p
                                    | Promo Code : <br />
                                    b TNT-50-2020-Summer
                                
                                a.btn.primary(href="")
                                    span use promo
                        article.promo
                            .wrp-promo
                                .wrp-img
                                    img(src="img/content/3497.jpg", alt="")
                                    
                                    a(href="")

                                
                                p
                                    | Promo Code : <br />
                                    b TNT-50-2020-Summer
                                
                                a.btn.primary(href="")
                                    span use promo
                        article.promo
                            .wrp-promo
                                .wrp-img
                                    img(src="img/content/3497.jpg", alt="")
                                    
                                    a(href="")

                                
                                p
                                    | Promo Code : <br />
                                    b TNT-50-2020-Summer
                                
                                a.btn.primary(href="")
                                    span use promo
                        article.promo
                            .wrp-promo
                                .wrp-img
                                    img(src="img/content/3497.jpg", alt="")
                                    
                                    a(href="")

                                
                                p
                                    | Promo Code : <br />
                                    b TNT-50-2020-Summer
                                
                                a.btn.primary(href="")
                                    span use promo
                        article.promo
                            .wrp-promo
                                .wrp-img
                                    img(src="img/content/3497.jpg", alt="")
                                    
                                    a(href="")

                                
                                p
                                    | Promo Code : <br />
                                    b TNT-50-2020-Summer
                                
                                a.btn.primary(href="")
                                    span use promo
                        article.promo
                            .wrp-promo
                                .wrp-img
                                    img(src="img/content/3497.jpg", alt="")
                                    
                                    a(href="")

                                
                                p
                                    | Promo Code : <br />
                                    b TNT-50-2020-Summer
                                
                                a.btn.primary(href="")
                                    span use promo
                        article.promo
                            .wrp-promo
                                .wrp-img
                                    img(src="img/content/3497.jpg", alt="")
                                    
                                    a(href="")

                                
                                p
                                    | Promo Code : <br />
                                    b TNT-50-2020-Summer
                                
                                a.btn.primary(href="")
                                    span use promo
                        article.promo
                            .wrp-promo
                                .wrp-img
                                    img(src="img/content/3497.jpg", alt="")
                                    
                                    a(href="")

                                
                                p
                                    | Promo Code : <br />
                                    b TNT-50-2020-Summer
                                
                                a.btn.primary(href="")
                                    span use promo
                        article.promo
                            .wrp-promo
                                .wrp-img
                                    img(src="img/content/3497.jpg", alt="")
                                    
                                    a(href="")

                                
                                p
                                    | Promo Code : <br />
                                    b TNT-50-2020-Summer
                                
                                a.btn.primary(href="")
                                    span use promo
                        article.promo
                            .wrp-promo
                                .wrp-img
                                    img(src="img/content/3497.jpg", alt="")
                                    
                                    a(href="")

                                
                                p
                                    | Promo Code : <br />
                                    b TNT-50-2020-Summer
                                
                                a.btn.primary(href="")
                                    span use promo
                        article.promo
                            .wrp-promo
                                .wrp-img
                                    img(src="img/content/3497.jpg", alt="")
                                    
                                    a(href="")

                                
                                p
                                    | Promo Code : <br />
                                    b TNT-50-2020-Summer
                                
                                a.btn.primary(href="")
                                    span use promo
                        article.promo
                            .wrp-promo
                                .wrp-img
                                    img(src="img/content/3497.jpg", alt="")
                                    
                                    a(href="")

                                
                                p
                                    | Promo Code : <br />
                                    b TNT-50-2020-Summer
                                
                                a.btn.primary(href="")
                                    span use promo

//popup promo
.popup.search
    .wrp-popup
        .c-popup
            .btn-close
                a(href="javascript:void(0);" onclick="$('.popup.search').hide();")
                    i.icon.close-bold
            
            .wrp-content
                .search-form
                    form(action="")
                        .row
                            .box
                                input(type="text" placeholder="type here ...")
                                button.btn.primary(type="submit")
                                    span search
