
#main.p-home {
    @include position('relative');
    width: 100%;

    .popular-place {
        @include position('relative');
        @include pm('padding', $top: 48px, $bottom: 48px);
        width: 100%;

        .container {

            .title {
                @extend .title-with-small-span;
            }

            .list-destination {
                @include position('relative');
                width: 100%;
                @include pm('margin', $top: 32px);
                @include display(inline-block);

                .row {
                    @include pm('margin', $right: -8px, $left: -8px);

                    .destination {
                        width: 33.33%;
                        @include pm('padding', $left: 8px, $right: 8px);
                        @include pm('margin', $bottom: 32px);
                    }
                }
            }
        }

        @include breakpoint('<=small') {
            @include pm('padding', $top: 32px, $bottom: 32px);

            .container {

                .list-destination {
                    @include pm('margin', $top: 24px);
                    
                    .row {
                        
                        .destination {
                            width: 33%;
                            @include pm('margin', $bottom: 24px);
                        }
                    }
                }
            }
        }

        @include breakpoint('<=xsmall') {
            @include pm('padding', $top: 24px, $bottom: 24px);

            .container {

                .list-destination {
                    @include pm('margin', $top: 16px);
                    
                    .row {
                        
                        .destination {
                            width: 50%;
                            @include pm('margin', $bottom: 16px);
                        }
                    }
                }
            }
        }
    }

    .our-packages {
        @include position('relative');
        width: 100%;
        @include pm('padding', $top: 48px, $bottom: 48px);
        @include display(block);
        background-color: $gray-light;

        .container {

            .title {
                @extend .title-with-small-span;
            }

            .list-packages {
                @include position('relative');
                width: 100%;
                @include pm('margin', $top: 32px);
                @include display(inline-block);

                .row {
                    @include pm('margin', $right: -8px, $left: -8px);
            
                    .packages {
                        padding: 8px;

                        .packages-wrapper {
                            @include box-shadow(0, 0, 5px, 0, $black, .5);
                        }
                    }

                    .swiper-container {
                        padding-bottom: 32px;

                        .swiper-wrapper {

                            .swiper-slide {

                            }
                        }

                        .packages-pagination {
                            @include position('absolute', $bottom: 0);
                            height: 24px;
                            text-align: center;
                            padding: 0 7px;
    
                            .swiper-pagination-bullet {
                                width: 10px;
                                height: 10px;
                                outline: none;

                                &.swiper-pagination-bullet-active {
                                    background: $primary;
                                }
                            }
                        }
                    }
                }
            }
        }

        @include breakpoint('<=small') {
            @include pm('padding', $top: 32px, $bottom: 32px);

            .container {

                .list-packages {
                    @include pm('margin', $top: 24px);
                }
            }
        }

        @include breakpoint('<=xsmall') {
            @include pm('padding', $top: 24px, $bottom: 24px);

            .container {

                .list-packages {
                    @include pm('margin', $top: 16px);
                }
            }
        }
    }

    .our-gallery {
        position: relative;
        width: 100%;
        @include pm('padding', $top: 48px);
        @include display(block);

        .container {

            .title {
                @extend .title-with-small-span;
            }
        }
        
        .list-gallery {
            @include position('relative');
            width: 100%;
            @include pm('margin', $top: 32px);
            @include display(inline-block);

            .row {
                margin: 0 0;

                .gallery {
                    width: calc(100% / 4);
                    padding: 0 0;
                }
            }
        }

        @include breakpoint('<=small') {
            
            @include pm('padding', $top: 32px);

            .list-gallery {
                margin-top: 24px;

                .row {
                    
                    .gallery {
                        width: calc(100% / 4);
                    }
                }
            }
        }

        @include breakpoint('<=xsmall') {

            @include pm('padding', $top: 24px);

            .list-gallery {
                margin-top: 16px;

                .row {
                    
                    .gallery {
                        width: calc(100% / 2);
                    }
                }
            }
        }
    }

    .happy-customer {
        position: relative;
        width: 100%;
        @include pm('padding', $top: 48px);
        @include display(block);

        .container {

            .title {
                @extend .title-with-small-span;
            }

            .list-testimonial {
                @include position('relative');
                width: 100%;
                @include pm('margin', $top: 32px);
                @include display(inline-block);

                .row {
                    margin: 0 0;

                    .swiper-container {
                        @include pm('padding', $top: 16px, $bottom: 32px);
                        
                        .swiper-wrapper {

                            .swiper-slide {
                                @include vendor('transition', (
                                    'all 0.5s',
                                ));

                                .testimonial {
                                    height: 100%;

                                    .wrapper-testimonial {
                                        height: 100%;

                                        .box-testimonial {
                                            height: 100%;
                                        }
                                    }
                                }
                                
                                //slide active
                                &.swiper-slide-active {
                                    z-index: 2;
                                    .testimonial {

                                        .wrapper-testimonial {
                                            padding: 0 0;

                                            .box-testimonial {
                                                @include border-radius(5px);
                                                background-color: $primary;
                                                @include box-shadow (0, 0, 10px, 0, $black, .5);

                                                .what-say {
                                                    p {color: $white;}
                                                }

                                                .name {

                                                    span {
                                                        color: $white;

                                                        &:before,
                                                        &:after {
                                                            background-color: $white;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                                //slide prev
                                &.swiper-slide-prev {
                                    
                                    .testimonial {

                                        .wrapper-testimonial {

                                            .box-testimonial {
                                                @include set-border-radius($top-left: 5px, $bottom-left: 5px);
                                            }
                                        }
                                    }
                                }

                                //slide next
                                &.swiper-slide-next {
                                    
                                    .testimonial {

                                        .wrapper-testimonial {

                                            .box-testimonial {
                                                @include set-border-radius($top-right: 5px, $bottom-right: 5px);
                                            }
                                        }
                                    }
                                }
                            } 
                        }

                        .testimonial-pagination {
                            @include position('absolute', $bottom: 0);
                            height: 24px;
                            text-align: center;
                            padding: 0 7px;
    
                            .swiper-pagination-bullet {
                                width: 10px;
                                height: 10px;
                                outline: none;

                                &.swiper-pagination-bullet-active {
                                    background: $primary;
                                }
                            }
                        }
                    }
                }
            }
        }

        @include breakpoint('<=small') {
            @include pm('padding', $top: 32px, $bottom: 32px);

            .container {

                .list-testimonial {
                    @include pm('margin', $top: 24px);

                    .row {
                        margin: 0 0;
    
                        .swiper-container {
                            
                            .swiper-wrapper {
    
                                .swiper-slide {
                                   
                                    .testimonial {
                                        padding: 0 0;

                                        .wrapper-testimonial {
                                            padding: 0 16px;

                                            .box-testimonial {
                                                @include box-shadow (0, 0, 5px, 0, $black, .5);
                                            }
                                        }
                                    }
                                    //slide active
                                    &.swiper-slide-active {
                                        
                                        .testimonial {

                                            .wrapper-testimonial {
                                                padding: 0 16px;

                                                .box-testimonial {
                                                    @include box-shadow (0, 0, 5px, 0, $black, .5);
                                                }
                                            }
                                        }
                                    }
                                } 
                            }
                        }
                    }
                }
            }
        }

        @include breakpoint('<=xsmall') {
            @include pm('padding', $top: 24px, $bottom: 24px);

            .container {

                .list-testimonial {
                    @include pm('margin', $top: 16px);

                    .row {
                        margin: 0 0;
    
                        .swiper-container {
                            
                            .swiper-wrapper {
    
                                .swiper-slide {
                                    
                                    //slide active
                                    &.swiper-slide-active {
                                        
                                        .testimonial {

                                            .wrapper-testimonial {
                                                padding: 0 8px;
                                            }
                                        }
                                    }
                                } 
                            }
                        }
                    }
                }
            }
        }
    }

    .contact-us {
        position: relative;
        width: 100%;
        @include pm('padding', $top: 48px);
        @include display(block);

        .container {

            .title {
                @extend .title-with-small-span;
            }

            .contact {
                @include position('relative');
                width: 100%;
                @include pm('margin', $top: 32px);
                @include display(inline-block);

                .row {
                    margin: 0 -16px;

                    .contact-form {
                        position: relative;
                        width: 50%;
                        padding: 0 16px;

                        .form, form {
                            position: relative;
                            width: 100%;

                            .row {
                                margin: 0 -8px;

                                .box {        
				                    @include pm('padding',$left: 8px, $right: 8px);
                                    position: relative;
                                    width: 100%;
                                }
                            }
                        }
                    }

                    .contact-info {
                        position: relative;
                        width: 50%;
                        padding: 0 16px;

                        .info {
                            display: inline-block;
                            width: 100%;
                            margin-bottom: 16px;
                            @include flex($justify: flex-start, $align: center, $flex-direction: row);
                            min-height: 48px;

                            .icon {
                                width: 48px;
                                height: 48px;
                                background-color: $primary;
                                @include border-radius(50%);

                                &:before {
                                    color: $white;
                                }
                            }

                            p {
                                position: relative;
                                width: calc(100% - 48px);
                                padding-left: 16px;
                                margin: 0 0;

                                a {
                                    color: $black;
                                }
                            }
                        }
                    }
                }
            }
        }

        .maps {
            position: relative;
            display: inline-block;
            margin-top: 32px;
            margin-bottom: -7px;
            width: 100%;
            padding-top: calc((1 / 3) * 100%);

            iframe {
                @include position('absolute', $top: 0, $left: 0);
                width: 100%;
                height: 100%;
                border: 0;
            }
        }


        @include breakpoint('<=small') {
            @include pm('padding', $top: 32px, $bottom: 32px);

            .container {

                .contact {
                    @include pm('margin', $top: 24px);

                    .row {
                        margin: 0 -8px;

                        .contact-form {
                            width: 100%;
                            padding: 0 8px;
                        }
    
                        .contact-info {
                            display: none;
                        }
                    }
                }
            }

            .maps {
                padding-top: calc((1 /1) * 100%);
            }
        }

        @include breakpoint('<=xsmall') {
            @include pm('padding', $top: 24px, $bottom: 24px);

            .container {

                .contact {
                    @include pm('margin', $top: 16px);

                    .row {
                        margin: 0 0;
                    }
                }
            }
        }
    }
}
