.typography {
    @include position('relative');
    @include display(block);
    width: 100%;
    @include pm('margin', $top: 32px, $bottom: 16px);

    h1, h2 {
        @include position('relative');
        width: 100%;
        @include pm('margin', $top: 16px, $bottom: 16px);
    }

    .row {
        @include pm('margin', $right: -8px, $left: -8px);

        .box {
            @include position('relative');
            width: 100%;
            @include display(block);
            @include pm('padding', $right: 8px, $left: 8px);
            @include pm('margin', $bottom: 16px);

            span {
                @include position('absolute', $top: 50%, $left: 8px);
                width: 150px;
                height: 24px;
                max-height: 24px;
                @include pm('margin', $top: - 12px);
            }

            h1, h2, h3, h4, h5, h6 {
                @include pm('margin', $bottom: 0);
                @include position('relative');
                width: 100%;
                @include pm('padding', $left: 150px);
                min-height: 24px;
                vertical-align: middle;
            }
        }
    }
}

.box-icon {
    @include display(inline-block);
    width: 80px;
    height: auto;
    @include pm('margin', $right: 8px, $bottom: 16px);
    @include position('relative');
    @include border-radius(5px);
    background-color: transparent;
    @include fonts($align: center);
    @include pm('padding', $top: 16px, $bottom: 32px);
    border: 1px solid $gray-light;
    @include vendor('transition', ('background-color .3s'));

    i {
        margin-bottom: 8px;
    }

    .code {
        @include position('absolute', $left: 0, $bottom: 0);
        width: 100%;
        height: 32px;
        background-color: $gray-light;
        @include fonts($fw: 600, $fz: 12px, $align: center);
        @include pm('padding', $top: 4px, $bottom: 4px);
        @include flex($align: center, $justify: center);
        
        span {
            @include pm('margin', $right: 4px);
            @include fonts($fw: 400, $fz: 11px, $lh: 24px);
        }
    }

    &:hover {
        background-color: $primary;
        cursor: pointer;

        i.icon {

            &:before {color: $white;}
        }
    }
}

.default {
    @include position('relative');
    @include display(block);
    width: 100%;
    @include pm('margin', $top: 32px, $bottom: 16px);

    h1, h2, h3 {
        @include position('relative');
        width: 100%;
        @include pm('margin', $top: 16px, $bottom: 16px);
    }
}