footer#footer
    .container
        .footer-info
            a.logo(href='')
                img(src='img/logo.png')
            
            p
                | copyright &copy; 2019 | all rights reserved.

        .footer-nav
            h4 Quick Links
            ul
                li: a(href='')
                    i.icon.arrow-right
                    span about us

                li: a(href='')
                    i.icon.arrow-right
                    span our packages

                li: a(href='')
                    i.icon.arrow-right
                    span be our partner

                li: a(href='')
                    i.icon.arrow-right
                    span privacy & policy

                li: a(href='')
                    i.icon.arrow-right
                    span contac us

                li: a(href='')
                    i.icon.arrow-right
                    span travel blog and tips

                li: a(href='')
                    i.icon.arrow-right
                    span working with us

                li: a(href='')
                    i.icon.arrow-right
                    span terms & conditions
        
        .footer-social-media
            h4 Find Us

            a(href='')
                i.icon.facebook

            a(href='')
                i.icon.twitter

            a(href='')
                i.icon.instagram

            a(href='')
                i.icon.whatsapp

            a(href='')
                i.icon.youtube

            a(href='')
                i.icon.tripadvisor
        
        .footer-copy 
            p
                | copyright &copy; 2019 | all rights reserved.

                

                