header#header
    .container
        a.logo
            img(src='img/logo.png' alt='ottotouren' title='otto-touren')
        
        .nav
            ul.sf-menu#nav-desktop
                li: a(href='') Packages
                li: a(href='') Transport
                li: a(href='') Contact Us
                li: a(class='nav-about' href='javascript:void(0)') 
                        span
                        span