.c-about
    .wrapper-c-about
        .pic
            img(src='img/source/people-1.jpg')
        
        h4
            |About Us
        
        p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit sed fermentum tincidunt metus ut sollicitudin. Sed vulputate consequat
        
        ul
            li 
                a(href='')
                    i.icon.facebook
                    span yudiantara.gde