#footer {
	position: relative;
	flex-shrink: 0;
	width: 100%;
	background-color: $black;
	@include pm('padding', $top: 48px, $bottom: 24px);

	.container {
		@include float-pos;

		.footer-info {
			float: left;
			position: relative;
			width: 20%;

			a.logo {
				display: inline-block;
				width: auto;
				height: 24px;
				@extend .link-transparent;
				margin: 3px 0;

				img {
					display: block;
					width: auto;
					height: 100%;
				}
			}

			p {
				display: inline-block;
				width: 100%;
				margin-top: 24px;
				margin-bottom: 0;
				text-align: left;
				color: $white;
				@include fonts($fw: 500, $fz: 12px);
			}
		}

		.footer-nav {
			position: relative;
			width: 48%;
			float: left;
			padding: 0 1%;

			h4 {
				color: $white;
			}

			ul {
				padding: 0 0;
				margin: 24px 0 0 0;
				@include float-pos;

				li {
					float: left;
					width: 50%;
					text-align: left;
					list-style: none;
					margin: 0 0 8px 0;
					@include vendor('transition', (
						'all 0.5s',
					));

					a {
						color: $white;
						display: inline-block;
						width: auto;
						height: auto;
						position: relative;
						background: transparent;

						.icon {
							width: 24px;
							height: 24px;
							padding: 0 0;
							display: inline-block;
							margin-right: 8px;
						}

						span {
							@include fonts($opensans, 500, 14px, 24px, $tt: uppercase);
							color: $white;
							@include vendor('transition', (
								'all 0.5s',
							));
						}

						&:hover {
							background: transparent;

							.icon {
								&:before {color: $primary}
							}

							span {
								color: $primary;
							}
						}
					}
				}
			}
		}

		.footer-social-media {
			position: relative;
			width: 30%;
			float: left;
			@include float-pos;

			h4 {
				color: $white;
				float: left;
				width: 100%;
				margin-bottom: 24px;
			}

			a {
				float: left;
				width: 32px;
				height: 32px;
				color: $white;
				margin: 0 8px 8px 0;
				overflow: hidden;

				.icon {
					display: block;
					width: 100%;
					height: 100%;
					background-color: $primary;
					@include border-radius(5px);
					padding: 4px;

					&:before {
						color: $white;
					}
				}
			}
		}

		.footer-copy {
			float: left;
			position: relative;
			width: 100%;
			display: none;

			p {
				display: inline-block;
				width: 100%;
				margin-bottom: 0;
				text-align: left;
				color: $white;
				@include fonts($fw: 500, $fz: 12px, $align: center);
			}
		}
	}

	@include breakpoint('<=medium') {

		.container {

			.footer-info {display: none;}

			.footer-nav {
				width: 100%;
				margin-bottom: 24px;
			}

			.footer-social-media {
				width: 100%;
				text-align: center;

				h4 {display: none;}

				a {
					float: none;
					display: inline-block;
				}
			}

			.footer-copy {
				display: block;
			}
		}
	}

	@include breakpoint('<=small') {
		padding: 32px 0 16px 0;
	}

	@include breakpoint('<=xsmall') {
		padding: 24px 0 8px 0;

		.container {
			
			.footer-nav {

				ul {

					li {
						width: 100%;
						
						a {
							font-size: 12px;
						}
					}
				}
			}

			.footer-social-media {

				a {
					width: 24px;
					height: 24px;

					.icon {	
						padding: 0 0;

						&:before {
							font-size: 14px;
						}
					}
				}
			}
		}
	}
}