/* Form */

	label {
		@include display(block);
		width: 100%;
		@include fonts($opensans, 400, 12px, 20px, $spacing: .5px, $tt: none);
		@include pm('margin', $bottom: 4px);
		color: $black;

		span {
			@include display(none);
			width: auto;
			height: 24px;
			vertical-align: top;
			@include fonts($fz: 12px);
			color: $danger;
		}

		&.mandatory-left {

			span {
				@include display(inline-block);
				margin-right: 8px;
			}
		}

		&.mandatory-right {

			span {
				@include display(inline-block);
				margin-left: 8px;
			}
		}

		@include breakpoint('<=small') {
			font-size: 12px;
		}
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="tel"],
	input[type="number"],
	textarea {
		@include border-radius(5px);
		@include display(block);
		width: 100%;
		outline: 0;
		@include fonts($opensans, 400, 14px, 24px, $spacing: 0.5px);
		color: $black;
		background: $gray-light;
		border: 1px solid $gray-light;
		@include position('relative');
		@include vendor('transition', 'all .5s');

		//when disable
		&:disabled {
			background: $gray-smoth;
			border-color: $gray-smoth;
		}

		//on focus
		&:focus {
			border: 1px solid $primary;
		}

		//placeholder 
		&::-webkit-input-placeholder {
			@include fonts($opensans, 300, 12px, 24px);
			color: $black;
		}
	
		&:-moz-placeholder {
			@include fonts($opensans, 300, 12px, 24px);
			color: $black;
		}
	
		&::-moz-placeholder {
			@include fonts($opensans, 300, 12px, 24px);
			color: $black;
		}
	
		&:-ms-input-placeholder {
			@include fonts($opensans, 300, 12px, 24px);
			color: $black;
		}

		@include breakpoint('<=small') {
			font-size: 12px;
			line-height: 22px;

			&::-webkit-input-placeholder {
				@include fonts($fz: 12px, $lh: 22px);
			}
		
			&:-moz-placeholder {
				@include fonts($fz: 12px, $lh: 22px);
			}
		
			&::-moz-placeholder {
				@include fonts($fz: 12px, $lh: 22px);
			}
		
			&:-ms-input-placeholder {
				@include fonts($fz: 12px, $lh: 22px);
			}
		}
                        
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="tel"],
	input[type="number"] {

		height: 48px;
		@include pm('padding', 12px, 16px, 12px, 16px);

		&::-webkit-input-placeholder {
			@include pm('padding', 12px, 0px, 12px, 0px);
		}
	
		&:-moz-placeholder {
			@include pm('padding', 12px, 0px, 12px, 0px);
		}
	
		&::-moz-placeholder {
			@include pm('padding', 12px, 0px, 12px, 0px);
		}
	
		&:-ms-input-placeholder {
			@include pm('padding', 12px, 0px, 12px, 0px);
		}

		@include breakpoint('<=small') {
			height: 40px;
			@include pm('padding', 9px, 16px, 9px, 16px);

			&::-webkit-input-placeholder {
				@include pm('padding', 9px, 0px, 9px, 0px);
			}
		
			&:-moz-placeholder {
				@include pm('padding', 9px, 0px, 9px, 0px);
			}
		
			&::-moz-placeholder {
				@include pm('padding', 9px, 0px, 9px, 0px);
			}
		
			&:-ms-input-placeholder {
				@include pm('padding', 9px, 0px, 9px, 0px);
			}
		}
	}

	textarea {
		height: 250px;
		@include pm('padding', 16px, 16px, 16px, 16px);

		&::-webkit-input-placeholder {
			padding: 0 0;
		}
	
		&:-moz-placeholder {
			padding: 0 0;
		}
	
		&::-moz-placeholder {
			padding: 0 0;
		}
	
		&:-ms-input-placeholder {
			padding: 0 0;
		}

		@include breakpoint('<=small') {
			height: 200px;
			@include pm('padding', 16px, 16px, 16px, 16px);

			&::-webkit-input-placeholder {
				padding: 0 0;
			}
		
			&:-moz-placeholder {
				padding: 0 0;
			}
		
			&::-moz-placeholder {
				padding: 0 0;
			}
		
			&:-ms-input-placeholder {
				padding: 0 0;
			}
		}
	}

	//input type radio
	input[type="checkbox"] {
		@include vendor('appearance', 'none');
		@include display(block);
		@include float(left);
		@include pm('margin', 0, 0, 0, 0);
		opacity: 0;
		width: 100%;
		z-index: -1;

		& + label {
			cursor: pointer;
			@include display(inline-block);
			@include fonts($opensans, 400, 14px, 24px, left, $tt: none);
			@include pm('padding', 12px, 16px, 12px, 48px);
			@include position('relative');
			@include pm('margin', 0, 0, 0, 0);
			@include vendor('transition', (
				'all .5s ease-in-out',
			));

			a {
				font-weight: 700;
				color: $black;
			}

			&:before {
				@include position('absolute', $top: 12px, $left: 12px);
				width: 24px;
				height: 24px;
				border: solid 2px $gray-light;
				@include fonts($ico, 400, 10px, 20px, center, normal);
				content: '\E816';
				@include border-radius(5px);
				color: $gray-light;
				@include vendor('transition', (
					'all .5s ease-in-out',
				));
			}
		}

		&:checked + label {

			&:before {
				color: $black;
				border-color: black;
			}
		}

		&:disable {

			label {
				color: $gray-light;

				&:before {
					border-color: $gray-light;
					color: $gray-light;
				}
			}

			&:checked + label {
				color: $gray-light;
				
				&:before {
					border-color: $gray-light;
					color: $gray-light;
				}
			}
		}
	}

	//input type radio
	input[type="radio"] {
		@include vendor('appearance', 'none');
		@include display(block);
		@include float(left);
		@include pm('margin', 0, 0, 0, 0);
		opacity: 0;
		width: 100%;
		z-index: -1;

		& + label {
			cursor: pointer;
			width: auto;
			@include display(inline-block);
			@include fonts($opensans, 400, 14px, 24px, left, $tt: none);
			@include pm('padding', 12px, 16px, 12px, 48px);
			@include position('relative');
			@include pm('margin', 0, 0, 0, 0);
			@include vendor('transition', (
				'all .5s ease-in-out',
			));

			&:before {
				@include position('absolute', $top: 12px, $left: 12px);
				width: 24px;
				height: 24px;
				border: solid 2px $gray-light;
				@include border-radius(50%);
				color: $gray-light;
				@include vendor('transition', (
					'all .5s ease-in-out',
				));
				content: '';
			}

			&:after {
				@include position('absolute', $top: 16px, $left: 16px);
				width: 16px;
				height: 16px;
				@include border-radius(50%);
				background: $gray-light;
				content: '';
				@include vendor('transition', (
					'all .5s ease-in-out',
				));
			}
		}

		&:checked + label {

			&:before {
				border-color: $black;
			}
			
			&:after {
				background: $black;
			}
		}

		&:disable {

			label {
				color: $gray-light;

				&:before {
					border-color: $gray-light;
					color: $gray-light;
				}

				&:after {
					background: $gray-light;
				}
			}

			&:checked + label {
				color: $gray-light;
				
				&:before {
					border-color: $gray-light;
					color: $gray-light;
				}

				&:after {
					background: $gray-light;
				}
			}
		}

		@include breakpoint('<=small') {

			& + label {
				@include fonts($fz: 12px);
				@include pm('padding', 8px, 8px, 8px, 40px);

				&:before {
					@include position('absolute', $top: 8px, $left: 8px);
				}
	
				&:after {
					@include position('absolute', $top: 12px, $left: 12px);
				}
			}
		}
	}

	//p message
	p.message {
		@include display(block);
		width: 100%;
		@include pm('margin', $top: 8px);
		@include fonts($fz: 12px, $lh: 22px, $align: left);
		color: $black;

		&.error {
			color: $danger;
			@include display(none);
		}

		&.success {
			color: $success;
			@include display(none);
		}
	}

	//select 2
	.select2-container {
		width: 100% !important;

		.selection {
			@include position('relative');
			width: 100%;

			.select2-selection {
				@include border-radius(5px);
				background-color: $gray-light;
				height: 48px;
				border: 0;
				outline: none;
				@include position('relative');
				
				&__rendered {
					height: 100%;
					@include fonts($opensans, 700, 14px !important, 24px !important, $spacing: 0.5px);
					@include pm('padding', 12px, 48px !important, 12px, 16px !important);
					color: $black;
				}

				&__arrow {
					width: 24px !important;
					height: 24px !important;
					@include position('absolute', $top: 12px !important, $right: 12px !important);

					b {
						@include display(none);
					}
      
					&:after {
						@include display(block);
						@include position('absolute', $top: 0, $left: 0);
						width: 100%;
						height: 100%;
						@include fonts($ico, 400, 14px, 24px, center, normal);
						color: $black;
						content: '\F107';
					}
				}
			}
		}

		&--open {

			.selection {

				.select2-selection {
					
					&__arrow {
		  
						&:after {
							content: '\F106';
						}
					}
				}
			}

			//dropdown show
			.select2-dropdown  {
				border-color: $gray-light;

				.select2-search {

					.select2-search__field {
						height: 40px;
						@include pm('padding', 8px, 8px, 8px, 8px);
					}
				}

				.select2-results {

					&__options {


						.select2-results__option {
							@include pm('padding', 8px, 8px, 8px, 8px);
							color: $black;
							@include fonts($opensans, 400, 14px, 24px, $spacing: 0.5px);

							&--highlighted {
								background-color: $gray-light;
							}
						}
					}

					&__option[aria-selected=true] {
						background-color: $gray-light;
					}
				}
			}
		}

		&--disabled {

			.selection {

				.select2-selection {
					background-color: $gray-smoth !important;
					
					&--single {
						background-color: $gray-smoth !important;
					}
				}
			}
		}

		@include breakpoint('<=small') {

			.selection {
				
				.select2-selection {
					height: 40px;

					&__rendered {
						@include fonts($fz: 12px !important);
						@include pm('padding', 8px, 40px !important, 8px, 8px !important);
					}
				}
			}

			&--open {
	
				//dropdown show
				.select2-dropdown  {
	
					.select2-results {
	
						&__options {
	
	
							.select2-results__option {
								@include fonts($fz: 12px);
							}
						}
					}
				}
			}
		}
	}

	//form style
	form,
	.form {
		@include position('relative');
		width: 100%;

		.row {
			@include pm('margin', $left: -8px, $right: -8px);

			//column global
			.box {
				@include position('relative');
				width: 100%;
				@include pm('padding', $left: 8px, $right: 8px, $bottom: 16px);

				//has icon 
				&.has-icon {
					input[type="text"],
					input[type="password"],
					input[type="email"],
					input[type="tel"],
					input[type="number"] {
						padding-right: 48px;

						&:focus {
							border-color: $primary;
						}
					}

					&:after {
						@include position('absolute', $top: calc(12px + 24px));
						width: 24px;
						height: 24px;
						@include display(block);
						@include fonts($ico, 400, 14px, 24px, center, normal);
						content: '';
						color: $primary;
					}
				}
				//success
				&.has-success {
					@extend .has-icon;

					input[type="text"],
					input[type="password"],
					input[type="email"],
					input[type="tel"],
					input[type="number"] {
						
						&:focus {
							border-color: $success;
						}
					}

					p.message {

						&.success {
							@include display(block);
						}
					}

					&:after {
						right: calc(12px + 8px);
						content: '\E816';
						color: $success;
					}
				}

				//error
				&.has-error {
					@extend .has-icon;

					input[type="text"],
					input[type="password"],
					input[type="email"],
					input[type="tel"],
					input[type="number"] {
						
						&:focus {
							border-color: $danger;
						}
					}

					p.message {

						&.error {
							@include display(block);
						}
					}

					&:after {
						right: calc(12px + 8px);
						content: '\E815';
						color: $danger;
					}
				}

				//icon right position
				&.icon-right {
					@extend .has-icon;

					&:after {
						right: calc(12px + 8px);
						content: '\E81B';
						color: $primary;
					}
				}

				//icon left position
				&.icon-left {
					@extend .has-icon;

					input[type="text"],
					input[type="password"],
					input[type="email"],
					input[type="tel"],
					input[type="number"] {
						padding-left: 48px;
						padding-right: 16px;
					}

					&:after {
						left: calc(12px + 8px);
						content: '\E81B';
						color: $primary;
					}
				}	

				//column set 2
				&.column-2 {
					width: 50%;
				}

				//date time icon
				.date-time {
					@include position('relative');
					width: 100%;

					input[type="text"] {
						padding-right: 48px;
					}

					&:after {
						@include position('absolute', $top: 12px, $right: 12px);
						width: 24px;
						height: 24px;
						@include display(block);
						@include fonts($ico, 400, 14px, 24px, center, normal);
						content: '\E806';
						color: $primary;
					}
				}
			}
		}

		@include breakpoint('<=small') {
			
			.row {

				.box {

					&.has-icon {

						&:after {
							@include position('absolute', $top: calc(9px + 24px));
						}
					}

					&.column-2 {
						width: 100%;
					}

					.date-time {
						
						input[type="text"] {
							padding-right: 40px;
						}

						&:after {
							@include position('absolute', $top: 8px, $right: 8px);
						}
					}
				}
			}
		}
	}