// note
//
// using ion range slider
// url : http://ionden.com/a/plugins/ion.rangeSlider/index.html

span.irs.irs--flat {
    padding-bottom: 75px;

    span.irs {

        span.irs-min,
        span.irs-max {
            display: none;
        }

        span.irs-line {
            top: 29px;
            background-color: rgba(0, 0, 0, .1);
            height: 4px;
        }

        span.irs-from {
            left: 0 !important;
            top: 50px;
            font-size: 12px;
            line-height: 17px;
            color: $black;
            background-color: transparent;

            &:before {
                display: none;
            }
        }

        span.irs-to {
            top: 50px;
            font-size: 12px;
            line-height: 17px;
            color: $black;
            background-color: transparent;
            left: 90% !important;

            &:before {
                display: none;
            }
        }
    }
    span.irs-bar {
        background-color: $black;
        height: 4px;
        top: 29px;
    }

    span.irs-handle {
        width: 16px;
        height: 16px;
        @include border-radius(5px);
        background-color: $red;
    }
}  