doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        title Welcome to Otto Touren
        meta(name='description', content='')
        include include-file/style.pug
    body.is-preload
        #wrapper.fade-in
            .loader
                .lds-ring
                    div
                    div
                    div
                    div
            //header include
            include include-file/header.pug

            #main.p-home
                p 
                    testing
            footer#footer
        
        //js include
        include include-file/js.pug