doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        title Welcome to Otto Touren
        meta(name='description', content='')
        include include-file/style.pug
    body.is-preload
        #wrapper.fade-in
            .loader
                .lds-ring
                    div
                    div
                    div
                    div
            //header include
            include include-file/header.pug
            
            //home page
            #main.p-home
                section.heroes
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                .wrapper-heroes
                                    img.d-desktop(src='img/slider.jpg' alt='ubud explor' title='ubud-explor')
                                    img.d-mobile(src='img/slider.jpg' alt='ubud explor' title='ubud-explor')

                                    .content-heroes
                                        .container
                                            h2 Explore <b>Ubud</b>
                                            p 
                                                | <b>Ready ?</b><br />
                                                | let's find the best place in ubud. 
                                                
                                                a(href='')
                                                    | yes i am in 
                                                    i.icon.arrow-right-long
                                            ul
                                                li
                                                    i.icon.location
                                                    span Monkey Forest
                                                li
                                                    i.icon.location
                                                    span Puri Saren
                                                li
                                                    i.icon.location
                                                    span Many More
                                            
                                            .send-wa
                                                span.number (+62) 871861-140-100
                                                a.btn.primary.with-icon(href='' )
                                                    i.icon.whatsapp
                                                    span send me a message

                            .swiper-slide
                                .wrapper-heroes
                                    img.d-desktop(src='img/slider-tabanan.jpg' alt='ubud explor' title='ubud-explor')
                                    img.d-mobile(src='img/slider-tabanan.jpg' alt='ubud explor' title='ubud-explor')

                                    .content-heroes
                                        .container
                                            h2 Explore <b>Tabanan</b>
                                            p 
                                                | <b>Ready ?</b><br />
                                                | let's find the best place in tabanan. 
                                                
                                                a(href='') 
                                                    |yes i am in 
                                                    i.icon.arrow-right-long
                                            ul
                                                li
                                                    i.icon.location
                                                    span Tanah lot
                                                li
                                                    i.icon.location
                                                    span Jati Luwih Terrace
                                                li
                                                    i.icon.location
                                                    span Many More
                                            
                                            .send-wa
                                                span.number (+62) 871861-140-100
                                                a.btn.primary.with-icon(href='' )
                                                    i.icon.whatsapp
                                                    span send me a message

                        .heroes-next
                        .heroes-prev

                        .heroes-pagination.center

                section.popular-place.chk-pos
                    .container
                        .title(data-aos='fade-up')
                            span Popular Destinations
                            h2 Travel Most Popular Place <br /> in Bali
                        
                        .list-destination
                            .row
                                article.destination(data-aos='fade-up')
                                    .destination-wrapper
                                        .thumbs
                                            img(src='img/ubud.jpg' alt='ubud' title='ubud')

                                            span.location
                                                i.icon.location
                                                | Ubud
                                            
                                            span.packages 18 Tours
                                            
                                            a(href='')
                                                i.icon.links
                                
                                article.destination(data-aos='fade-up')
                                    .destination-wrapper
                                        .thumbs
                                            img(src='img/tabanan.jpg' alt='tabanan' title='tabanan')

                                            span.location
                                                i.icon.location
                                                | Tabanan
                                            
                                            span.packages 18 Tours
                                            
                                            a(href='')
                                                i.icon.links
                                
                                article.destination(data-aos='fade-up')
                                    .destination-wrapper
                                        .thumbs
                                            img(src='img/buleleng.jpg' alt='buleleng' title='buleleng')

                                            span.location
                                                i.icon.location
                                                | Buleleng
                                            
                                            span.packages 18 Tours
                                            
                                            a(href='')
                                                i.icon.links
                                
                                article.destination(data-aos='fade-up')
                                    .destination-wrapper
                                        .thumbs
                                            img(src='img/nusa-dua.jpg' alt='nusadua' title='nusadua')

                                            span.location
                                                i.icon.location
                                                | Nusadua
                                            
                                            span.packages 18 Tours
                                            
                                            a(href='')
                                                i.icon.links
                                
                                article.destination(data-aos='fade-up')
                                    .destination-wrapper
                                        .thumbs
                                            img(src='img/kintamani.jpg' alt='kintamani' title='kintamani')

                                            span.location
                                                i.icon.location
                                                | Kintamani
                                            
                                            span.packages 18 Tours
                                            
                                            a(href='')
                                                i.icon.links
                                
                                article.destination.more(data-aos='fade-up')
                                    .destination-wrapper
                                        .thumbs
                                            a(href='') see more

                section.our-packages
                    .container
                        .title(data-aos='fade-up')
                            span Popular Tour Packages
                            h2 The Best of Our All <br /> Tour Packages
                    
                        .list-packages(data-aos='fade-up')
                            .row
                                .swiper-container
                                    .swiper-wrapper
                                        .swiper-slide
                                            article.packages
                                                .packages-wrapper
                                                    .thumbs 
                                                        a(href='')
                                                            img(src='img/source/barong-dance.jpg' alt='gianyar-ubud-full-day-tour' title='gianyar ubud full day tour')
                                                            
                                                            span.durations
                                                                i.icon.clock-solid 
                                                                | 8 Hours
                                                        
                                                        a.hover(href='')
                                                            i.icon.links
                                                            span 
                                                                | Gianyar Ubud Full Day Tour All Inclusive
                                                    .descriptions
                                                        h4
                                                            a(href='') Gianyar Ubud Full Day Tour All Inclusive

                                                        span.price $120

                                                        p 
                                                            a(href='')
                                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent in tincidunt magna. Vestibulum venenatis, enim a facilisis condimentum, lacus nisi cursus augue, non iaculis mauris velit eu dui. In vitae nunc lobortis sem tristique aliquam. Integer ornare enim ac odio maximus ornare. Ut molestie odio a metus pretium, quis iaculis ex tincidunt.

                                                        a.btn.primary(href='')
                                                            span Book Now

                                        .swiper-slide 
                                            article.packages
                                                .packages-wrapper
                                                    .thumbs 
                                                        a(href='')
                                                            img(src='img/source/bali-rafting.jpg' alt='bali-river-rafting' title='bali river rafting')
                                                            
                                                            span.durations
                                                                i.icon.clock-solid 
                                                                | 8 Hours
                                                        
                                                        a.hover(href='')
                                                            i.icon.links
                                                            span 
                                                                | Bali River Rafting
                                                    .descriptions
                                                        h4 
                                                            a(href='') Bali River Rafting

                                                        span.price $120

                                                        p 
                                                            a(href='')
                                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent in tincidunt magna. Vestibulum venenatis, enim a facilisis condimentum, lacus nisi cursus augue, non iaculis mauris velit eu dui. In vitae nunc lobortis sem tristique aliquam. Integer ornare enim ac odio maximus ornare. Ut molestie odio a metus pretium, quis iaculis ex tincidunt.

                                                        a.btn.primary(href='')
                                                            span Book Now	

                                        .swiper-slide
                                            article.packages
                                                .packages-wrapper
                                                    .thumbs 
                                                        a(href='')
                                                            img(src='img/source/uluwatu-temple.jpg' alt='uluwatu-tanah-lot-tour' title='uluwatu tanah lot tour')
                                                            
                                                            span.durations
                                                                i.icon.clock-solid 
                                                                | 8 Hours
                                                        
                                                        a.hover(href='')
                                                            i.icon.links
                                                            span 
                                                                | Uluwatu Tanah Lot Tour
                                                    .descriptions
                                                        h4 
                                                            a(href='') Uluwatu Tanah Lot Tour

                                                        span.price $120

                                                        p 
                                                            a(href='')
                                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent in tincidunt magna. Vestibulum venenatis, enim a facilisis condimentum, lacus nisi cursus augue, non iaculis mauris velit eu dui. In vitae nunc lobortis sem tristique aliquam. Integer ornare enim ac odio maximus ornare. Ut molestie odio a metus pretium, quis iaculis ex tincidunt.

                                                        a.btn.primary(href='')
                                                            span Book Now	

                                        .swiper-slide
                                            article.packages
                                                .packages-wrapper
                                                    .thumbs 
                                                        a(href='')
                                                            img(src='img/source/atv.jpg' alt='bali-atv-ride-kintamani-tour' title='bali-atv-ride-kintamani-tour')
                                                            
                                                            span.durations
                                                                i.icon.clock-solid 
                                                                | 8 Hours
                                                        
                                                        a.hover(href='')
                                                            i.icon.links
                                                            span 
                                                                | Bali ATV Ride Kintamani Tour
                                                    .descriptions
                                                        h4
                                                            a(href='') Bali ATV Ride Kintamani Tour

                                                        span.price $120

                                                        p 
                                                            a(href='')
                                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent in tincidunt magna. Vestibulum venenatis, enim a facilisis condimentum, lacus nisi cursus augue, non iaculis mauris velit eu dui. In vitae nunc lobortis sem tristique aliquam. Integer ornare enim ac odio maximus ornare. Ut molestie odio a metus pretium, quis iaculis ex tincidunt.

                                                        a.btn.primary(href='')
                                                            span Book Now		

                                    .packages-pagination
            
                section.our-gallery
                    .container
                        .title(data-aos='fade-up')
                            span Our Gallery
                            h2 The Best Tourist's Shared <br /> with us
                    
                    .list-gallery
                        .row
                            article.gallery(data-aos='fade-up')
                                .wrapper-gallery
                                    .thumbs
                                        a(href='')
                                            img(src='img/source/ubud/JPEG/bernard-hermant-5sJUDMLllEM-unsplash.jpg')
                            
                            article.gallery(data-aos='fade-up')
                                .wrapper-gallery
                                    .thumbs
                                        a(href='')
                                            img(src='img/source/ubud/JPEG/chema-photo-DmEXjTOGkAY-unsplash.jpg')
                            
                            article.gallery(data-aos='fade-up')
                                .wrapper-gallery
                                    .thumbs
                                        a(href='')
                                            img(src='img/source/ubud/JPEG/mark-chaves-6dbHX0TQzu8-unsplash.jpg')
                            
                            article.gallery(data-aos='fade-up')
                                .wrapper-gallery
                                    .thumbs
                                        a(href='')
                                            img(src='img/source/ubud/JPEG/radoslav-bali-umfRZ2Hb1OM-unsplash.jpg')
                            
                            
                section.happy-customer
                    .container
                        .title(data-aos='fade-up')
                            span Happy Customer
                            h2 What Our Customer Say <br /> About us

                        .list-testimonial(data-aos='fade-up')
                            .row
                                .swiper-container
                                    .swiper-wrapper
                                        .swiper-slide
                                            article.testimonial
                                                .wrapper-testimonial
                                                    .box-testimonial
                                                        .what-say
                                                            p 
                                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet lectus ultrices, egestas tortor ut, viverra urna. Cras fermentum auctor nisl, ut consequat ex ultrices eget.

                                                        .name
                                                            span 
                                                                | Bryan Sweet
                                                        
                                                        .picture
                                                            img(src='img/source/people-1.jpg')

                                        .swiper-slide                        
                                            article.testimonial
                                                .wrapper-testimonial
                                                    .box-testimonial
                                                        .what-say
                                                            p 
                                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet lectus ultrices, egestas tortor ut, viverra urna. Cras fermentum auctor nisl, ut consequat ex ultrices eget.

                                                        .name
                                                            span 
                                                                | Bryan Sweet
                                                        
                                                        .picture
                                                            img(src='img/source/people-2.jpg')

                                        .swiper-slide
                                            article.testimonial
                                                .wrapper-testimonial
                                                    .box-testimonial
                                                        .what-say
                                                            p 
                                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet lectus ultrices, egestas tortor ut, viverra urna. Cras fermentum auctor nisl, ut consequat ex ultrices eget.

                                                        .name
                                                            span 
                                                                | Bryan Sweet
                                                        
                                                        .picture
                                                            img(src='img/source/people-3.jpg')

                                    .testimonial-pagination

                section.contact-us
                    .container
                        .title(data-aos='fade-up')
                            span Contact Us
                            h2 If You Have Any Question <br /> Drop a Message
                        
                        .contact
                            .row
                                .contact-form
                                    form.form(action="")
                                        .row
                                            .box(data-aos='fade-up')
                                                input(type='text' placeholder='your name')
                                            
                                            .box(data-aos='fade-up')
                                                input(type='email' placeholder='your email')
                                            
                                            .box(data-aos='fade-up')
                                                input(type='text' placeholder='subject')
                                            
                                            .box(data-aos='fade-up')
                                                textarea(placeholder="message")
                                            
                                            .box(data-aos='fade-up')
                                                button(type='submit' class='btn primary')
                                                    span send message
                                
                                .contact-info
                                    .info(data-aos='fade-up')
                                        i.icon.location
                                        p Jalan Ray Tanah lot, Br. Ulundesa Desa Braban Tanah lot Kediri Tabanan, Bali.
            
                                    .info(data-aos='fade-up')
                                        i.icon.call-center
                                        p
                                            | <b>(+62) 87861-140-100</b>
                                    
                                    .info(data-aos='fade-up')
                                        i.icon.at
                                        p 
                                            a(href='mailto:yudiantara.gde@gmail.com') yudiantara.gde@gmail.com
            
                    .maps(data-aos='fade-up')
                        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3944.9982941961907!2d115.10565271530606!3d-8.596160593821843!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd239e83b47b669%3A0x9312878460bbe269!2sBALE%20BANJAR%20ULUNDESA!5e0!3m2!1sen!2sid!4v1574157431650!5m2!1sen!2sid' frameborder='0' allowfullscreen='')
            
            //footer include
            include include-file/footer.pug

            //nav about
            include include-file/nav-about.pug
        
        //js include
        include include-file/js.pug

        //js inline
        script(src='js/swiper.min.js')
        script. 
            var swiper = new Swiper('.heroes .swiper-container', {
                spaceBetween: 0,
                
                //navigation
                navigation: {
                    nextEl: '.heroes-next',
                    prevEl: '.heroes-prev',
                },

                //pagination
                pagination: {
                clickable: true,
                    el: '.heroes-pagination',
                },

                //autoplay
                autoplay: {
                    delay: 2500,
                },

                //efect
                //effect: 'fade',
                
                //lopping
                loop: true,

                //speed
                speed: 1200,
            });

            //popular packages
            var sc = new Swiper('.list-packages .swiper-container', {
                slidesPerView: 1,
                spaceBetween: 0, 
                loop: true,
                speed: 1000,

                //pagination
                pagination: {
                    clickable: true,
                    el: '.packages-pagination',
                },


                //breakpoint
                breakpoints: {
                    576: {
                        slidesPerView: 2
                    },
                    768: {
                        slidesPerView: 3
                    }
                }
            });

            //testimonial
            var testimonial = new Swiper('.list-testimonial .swiper-container', {
                slidesPerView: 1,
                spaceBetween: 0,  

                //pagination
                pagination: {
                    clickable: true,
                    el: '.testimonial-pagination',
                },

                loop: true,

                //breakpoint
                breakpoints: {
                    768: {
                        slidesPerView: 3,
                        activeIndex: 2,
                        spaceBetween: 0,
                    }
                },
                centeredSlides: true,
                speed: 1000,
            });
