<!DOCTYPE HTML>
<html>
	<head>
		<title>Icon</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../css/main.css" />
		<noscript><link rel="stylesheet" href="../css/noscript.css" /></noscript>
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
				<div id="main">
					<!-- header -->
					<header id="header"></header>

					<!-- main body -->
					<div class="container left" style="margin-top: 32px; margin-bottom: 32px;">
						
						<h1 class="left" style="margin-bottom: 32px;">Icon</h1>
						<!-- 
							Note
							for create the icon using : http://fontello.com/

							using icon tags, use tag i
							ex : <i class="facebook"></i>

							<i class="icon (name-icon)"> =
								height	: 48px
								width	: 48px
							
							<i class="icon i-m (name-icon)"> =
								height	: 40px
								width	: 40px
							
							<i class="icon i-s (name-icon)"> =
								height	: 32px
								width	: 32px
							remove box icon (only for show the code in html)
						-->

						<div class="box-icon"> 
							<i class="icon facebook"></i>
							<div class="code">
								<span>code</span> F09A
							</div>
						</div>

						<div class="box-icon">
							<i class="icon twitter"></i>
							<div class="code">
								<span>code</span> F099
							</div>
						</div>

						<div class="box-icon">
							<i class="icon instagram"></i>
							<div class="code">
								<span>code</span> F099
							</div>
						</div>

						<div class="box-icon">
							<i class="icon whatsapp"></i>
							<div class="code">
								<span>code</span> F099
							</div>
						</div>

						<div class="box-icon">
							<i class="icon email"></i>
							<div class="code">
								<span>code</span> F099
							</div>
						</div>

						<div class="box-icon">
							<i class="icon tripadvisor"></i>
							<div class="code">
								<span>code</span> F262
							</div>
						</div>

						<div class="box-icon">
							<i class="icon youtube"></i>
							<div class="code">
								<span>code</span> F16A
							</div>
						</div>

						<div class="box-icon">
							<i class="icon close"></i>
							<div class="code">
								<span>code</span> E815
							</div>
						</div>

						<div class="box-icon">
							<i class="icon close-bold"></i>
							<div class="code">
								<span>code</span> E801
							</div>
						</div>

						<div class="box-icon">
							<i class="icon ok"></i>
							<div class="code">
								<span>code</span> E816
							</div>
						</div>

						<div class="box-icon">
							<i class="icon ok-bold"></i>
							<div class="code">
								<span>code</span> E802
							</div>
						</div>

						<div class="box-icon">
							<i class="icon plus"></i>
							<div class="code">
								<span>code</span> E808
							</div>
						</div>

						<div class="box-icon">
							<i class="icon plus-bold"></i>
							<div class="code">
								<span>code</span> E803
							</div>
						</div>

						<div class="box-icon">
							<i class="icon minus"></i>
							<div class="code">
								<span>code</span> E809
							</div>
						</div>

						<div class="box-icon">
							<i class="icon minus-bold"></i>
							<div class="code">
								<span>code</span> E804
							</div>
						</div>

						<div class="box-icon">
							<i class="icon price"></i>
							<div class="code">
								<span>code</span> E805
							</div>
						</div>

						<div class="box-icon">
							<i class="icon share"></i>
							<div class="code">
								<span>code</span> F1E0
							</div>
						</div>

						<div class="box-icon">
							<i class="icon date-flat"></i>
							<div class="code">
								<span>code</span> F133
							</div>
						</div>

						<div class="box-icon">
							<i class="icon date"></i>
							<div class="code">
								<span>code</span> E806
							</div>
						</div>

						<div class="box-icon">
							<i class="icon play"></i>
							<div class="code">
								<span>code</span> E807
							</div>
						</div>

						<div class="box-icon">
							<i class="icon bus"></i>
							<div class="code">
								<span>code</span> F207
							</div>
						</div>

						<div class="box-icon">
							<i class="icon sort-az"></i>
							<div class="code">
								<span>code</span> F15D
							</div>
						</div>

						<div class="box-icon">
							<i class="icon sort-za"></i>
							<div class="code">
								<span>code</span> F15E
							</div>
						</div>

						<div class="box-icon">
							<i class="icon sort-number-asc"></i>
							<div class="code">
								<span>code</span> F162
							</div>
						</div>

						<div class="box-icon">
							<i class="icon sort-number-desc"></i>
							<div class="code">
								<span>code</span> F163
							</div>
						</div>

						<div class="box-icon">
							<i class="icon price-dollar"></i>
							<div class="code">
								<span>code</span> F155
							</div>
						</div>

						<div class="box-icon">
							<i class="icon maps"></i>
							<div class="code">
								<span>code</span> E80A
							</div>
						</div>

						<div class="box-icon">
							<i class="icon location"></i>
							<div class="code">
								<span>code</span> E80B
							</div>
						</div>

						<div class="box-icon">
							<i class="icon phone"></i>
							<div class="code">
								<span>code</span> E80C
							</div>
						</div>

						<div class="box-icon">
							<i class="icon suitcase"></i>
							<div class="code">
								<span>code</span> E80D
							</div>
						</div>

						<div class="box-icon">
							<i class="icon flight"></i>
							<div class="code">
								<span>code</span> E80E
							</div>
						</div>

						<div class="box-icon">
							<i class="icon comment"></i>
							<div class="code">
								<span>code</span> E80F
							</div>
						</div>

						<div class="box-icon">
							<i class="icon comment-empty"></i>
							<div class="code">
								<span>code</span> F0E5
							</div>
						</div>

						<div class="box-icon">
							<i class="icon arrow-down"></i>
							<div class="code">
								<span>code</span> F107
							</div>
						</div>

						<div class="box-icon">
							<i class="icon arrow-up"></i>
							<div class="code">
								<span>code</span> F106
							</div>
						</div>

						<div class="box-icon">
							<i class="icon arrow-left"></i>
							<div class="code">
								<span>code</span> F104
							</div>
						</div>

						<div class="box-icon">
							<i class="icon arrow-right"></i>
							<div class="code">
								<span>code</span> F105
							</div>
						</div>

						<div class="box-icon">
							<i class="icon arrow-down-bold"></i>
							<div class="code">
								<span>code</span> E811
							</div>
						</div>

						<div class="box-icon">
							<i class="icon arrow-up-bold"></i>
							<div class="code">
								<span>code</span> E814
							</div>
						</div>

						<div class="box-icon">
							<i class="icon arrow-left-bold"></i>
							<div class="code">
								<span>code</span> E812
							</div>
						</div>

						<div class="box-icon">
							<i class="icon arrow-right-bold"></i>
							<div class="code">
								<span>code</span> E813
							</div>
						</div>

						<div class="box-icon">
							<i class="icon arrow-down-double"></i>
							<div class="code">
								<span>code</span> F103
							</div>
						</div>

						<div class="box-icon">
							<i class="icon arrow-up-double"></i>
							<div class="code">
								<span>code</span> F102
							</div>
						</div>

						<div class="box-icon">
							<i class="icon arrow-left-double"></i>
							<div class="code">
								<span>code</span> F100
							</div>
						</div>

						<div class="box-icon">
							<i class="icon arrow-right-double"></i>
							<div class="code">
								<span>code</span> F101
							</div>
						</div>

						<div class="box-icon">
							<i class="icon stars"></i>
							<div class="code">
								<span>code</span> E818
							</div>
						</div>

						<div class="box-icon">
							<i class="icon stars-empty"></i>
							<div class="code">
								<span>code</span> E819
							</div>
						</div>

						<div class="box-icon">
							<i class="icon stars-half"></i>
							<div class="code">
								<span>code</span> E81A
							</div>
						</div>

						<div class="box-icon">
							<i class="icon stars-half-empty"></i>
							<div class="code">
								<span>code</span> F123
							</div>
						</div>

						<div class="box-icon">
							<i class="icon user"></i>
							<div class="code">
								<span>code</span> E81C
							</div>
						</div>

						<div class="box-icon">
							<i class="icon user-bold"></i>
							<div class="code">
								<span>code</span> E81B
							</div>
						</div>

						<div class="box-icon">
							<i class="icon heart"></i>
							<div class="code">
								<span>code</span> E81E
							</div>
						</div>

						<div class="box-icon">
							<i class="icon heart-empty"></i>
							<div class="code">
								<span>code</span> E81D
							</div>
						</div>

						<div class="box-icon">
							<i class="icon arrow-right-long"></i>
							<div class="code">
								<span>code</span> F178
							</div>
						</div>

						<div class="box-icon">
							<i class="icon arrow-left-long"></i>
							<div class="code">
								<span>code</span> F177
							</div>
						</div>

						<div class="box-icon">
							<i class="icon arrow-top-long"></i>
							<div class="code">
								<span>code</span> F176
							</div>
						</div>

						<div class="box-icon">
							<i class="icon arrow-down-long"></i>
							<div class="code">
								<span>code</span> F175
							</div>
						</div>

						<div class="box-icon">
							<i class="icon secure"></i>
							<div class="code">
								<span>code</span> E81F
							</div>
						</div>

						<div class="box-icon">
							<i class="icon links"></i>
							<div class="code">
								<span>code</span> E820
							</div>
						</div>

						<div class="box-icon">
							<i class="icon packages"></i>
							<div class="code">
								<span>code</span> E821
							</div>
						</div>

						<div class="box-icon">
							<i class="icon call-center"></i>
							<div class="code">
								<span>code</span> E822
							</div>
						</div>

						<div class="box-icon">
							<i class="icon bus"></i>
							<div class="code">
								<span>code</span> E823
							</div>
						</div>

						<div class="box-icon">
							<i class="icon clock"></i>
							<div class="code">
								<span>code</span> E825
							</div>
						</div>

						<div class="box-icon">
							<i class="icon clock-solid"></i>
							<div class="code">
								<span>code</span> E824
							</div>
						</div>

						<div class="box-icon">
							<i class="icon at"></i>
							<div class="code">
								<span>code</span> E826
							</div>
						</div>
					</div>
				</div>

				<!-- footer -->
				<footer id="footer">
					
				</footer>
			</div>

		

		<!-- Scripts -->
			<script src="../js/jquery.min.js"></script>
			<script src="../js/superfish.js"></script>
			<script src="../js/jquery.slicknav.js"></script>
			<script src="../js/main.js"></script>
	</body>
</html>