<!DOCTYPE HTML>
<html>
	<head>
		<title>Javascript Element</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../css/main.css" />
		<noscript><link rel="stylesheet" href="../css/noscript.css" /></noscript>
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
				<div id="main">
					<!-- header -->
					<header id="header"></header>

					<!-- main body -->
					<div class="default">
						<div class="container">
							<h1>Javascript Component</h1>

							<h3>Swiper Slider</h3>
							<div class="heroes">
								<div class="swiper-container">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<div class="wrapper-heroes">
												<img src="../img/slider-1.jpg" class="d-desktop">
												<img src="../img/slider-1-mobile.jpg" class="d-mobile">

												<div class="content-heroes">
													<h2>Heroes Title</h2>
													<p>
														Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dictum, urna ac ultricies commodo, elit urna consectetur nulla, vitae egestas tortor nunc at diam. Donec laoreet venenatis mauris at tempor.
													</p>
												</div>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="wrapper-heroes">
												<img src="../img/slider-2.jpg" class="d-desktop">
												<img src="../img/slider-2-mobile.jpg" class="d-mobile">

												<div class="content-heroes">
													<h2>Heroes Title</h2>
													<p>
														Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dictum, urna ac ultricies commodo, elit urna consectetur nulla, vitae egestas tortor nunc at diam. Donec laoreet venenatis mauris at tempor.
													</p>
												</div>
											</div>
										</div>
									</div>

									<!-- heroes button -->
									<div class="heroes-next"></div>
									<div class="heroes-prev"></div>

									<!-- Heroes Pagination -->
									<!-- 
										heroes-pagination 			: bullet position on left
										heroes-pagination center 	: bullet position on center
										heroes-pagintaion right 	: bullet position on right
									-->
    								<div class="heroes-pagination center"></div>
								</div>
							</div>

							<h3>Swiper Slider Column</h3>
							<div class="slider-column">
								<div class="swiper-container">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<div class="sc-wrapper">
												<span>1</span>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="sc-wrapper">
												<span>2</span>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="sc-wrapper">
												<span>3</span>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="sc-wrapper">
												<span>4</span>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="sc-wrapper">
												<span>5</span>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="sc-wrapper">
												<span>6</span>
											</div>
										</div>
									</div>

									<div class="sc-pagination center"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- footer -->
				<footer id="footer">
					
				</footer>

				<!-- popup here -->
				<div class="popup" style="display: block;">
					<div class="wrapper-popup">
						<div class="popup-content">
							<a href="javascript:void(0);">x</a>
						</div>
					</div>
				</div>
			</div>

		

		<!-- Scripts -->
			<script src="../js/jquery.min.js"></script>
			<script src="../js/superfish.js"></script>
			<script src="../js/jquery.slicknav.js"></script>
			<script src="../js/main.js"></script>
		
		<!-- swiper js -->
			<script src="../css/swiper.css"></script>
			<script src="../js/swiper.min.js"></script>

		
		<!-- js inline -->
			<script src="../js/js-inline/javascript.js"></script>
	</body>
</html>