<!DOCTYPE HTML>
<html>
	<head>
		<title>Slider Component</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../css/main.css" />
		<noscript><link rel="stylesheet" href="../css/noscript.css" /></noscript>
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
				<div id="main">
					<div class="heroes swiper-container">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<div class="wrapper-heroes" data-swiper-animation="slideInRight" data-duration=".5s" data-delay=".5s">
										<img src="../img/slider-1-mobile.jpg" class="data-mobile">
										<img src="../img/slider-1.jpg" class="data-desktop">

										<div class="content-heroes">

										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="wrapper-heroes" data-swiper-animation="slideInRight" data-duration=".5s" data-delay=".5s">
										<img src="../img/slider-2-mobile.jpg" class="data-mobile">
										<img src="../img/slider-2.jpg" class="data-desktop">
									</div>
								</div>
								<div class="swiper-slide">
									<div class="wrapper-heroes" data-swiper-animation="slideInRight" data-duration=".5s" data-delay=".5s">
										<img src="../img/slider-3-mobile.jpg" class="data-mobile">
										<img src="../img/slider-3.jpg" class="data-desktop">
									</div>
								</div>
							</div>
					</div>
				</div>
			</div>

		<!-- Scripts -->
			<script src="../js/jquery.min.js"></script>
			<script src="../js/browser.min.js"></script>
			<script src="../js/breakpoints.min.js"></script>			
			<script src="../js/jquery.selectric.js"></script>
			<script src="../js/jquery.slicknav.js"></script>
			<script src="../js/main.js"></script>

		<!-- swiper js -->
			<script src="../js/swiper.js"></script>
			<script src="../js/SwiperAnimation.min.js"></script>
			<script>
				var swiperAnimation = new SwiperAnimation();
				var heroesSlider = new Swiper('.heroes.swiper-container', {
					spaceBetween: 0,
					loop: true,
					centeredSlides: true,
					autoplay: true,
					effect: 'fade',
					pagination: '.swiper-pagination',
					navigation: {
						nextEl: '.swiper-button-next',
						prevEl: '.swiper-button-prev',
					},
					on: {
						init: function() {
							swiperAnimation.init(this).animate();
						},
						slideChange: function() {
							swiperAnimation.init(this).animate();
						}
					}
				});
			</script>
	</body>
</html>