<!DOCTYPE HTML>
<html>
	<head>
		<title>Typography</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../css/main.css" />
		<noscript><link rel="stylesheet" href="../css/noscript.css" /></noscript>
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
				<div id="main">
					<!-- header -->
					<header id="header"></header>

					<!-- main body -->
					<div class="container">
						<div class="typography">
							<h1>Typography</h1>

							<h2>Header Size</h2>
							<div class="row">
								<div class="box">
									<span>Header Size 1</span>
									<h1>Element Header Size 1 (h1)</h1>
								</div>
								<div class="box">
									<span>Header Size 2</span>
									<h2>Element Header Size 2 (h2)</h2>
								</div>
								<div class="box">
									<span>Header Size 3</span>
									<h3>Element Header Size 3 (h3)</h3>
								</div>
								<div class="box">
									<span>Header Size 4</span>
									<h4>Element Header Size 4 (h4)</h1>
								</div>
								<div class="box">
									<span>Header Size 5</span>
									<h5>Element Header Size 5 (h5)</h1>
								</div>
								<div class="box">
									<span>Header Size 6</span>
									<h6>Element Header Size 6 (h6)</h6>
								</div>
							</div>

							<h2>Paragraph</h2>
							<p>
								<b>Paragraph Normal</b> <br />
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque consequat sem ac dui pellentesque malesuada. Cras iaculis nisl non ligula maximus rutrum. Aliquam faucibus posuere orci, eu efficitur turpis hendrerit quis. Donec sed consectetur libero. Nulla facilisi. Proin non maximus libero. Integer quis leo a ante gravida euismod.
							</p>
							<p>	
								Vestibulum ornare odio sit amet nisi dapibus finibus. Vestibulum vehicula diam in vestibulum ullamcorper. Fusce ornare euismod massa, in egestas tellus commodo vel. Mauris nec purus id enim venenatis maximus. In aliquam risus dapibus, tincidunt nibh et, posuere lorem. Cras ex magna, tincidunt a feugiat vitae, tincidunt nec risus. Nunc hendrerit egestas viverra. Quisque purus eros, volutpat sed sagittis ut, eleifend quis enim. Donec aliquam commodo nulla, sed eleifend urna semper nec. Nullam eleifend id felis et vulputate. Mauris vel elit mi. In vel magna fringilla, blandit diam ut, consequat eros.
							</p>
							<p class="primary">
								<b>Paragraph Primary</b><br />
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque consequat sem ac dui pellentesque malesuada. Cras iaculis nisl non ligula maximus rutrum. Aliquam faucibus posuere orci, eu efficitur turpis hendrerit quis. Donec sed consectetur libero. Nulla facilisi. Proin non maximus libero. Integer quis leo a ante gravida euismod.
							</p>
							<p class="success">
								<b>Paragraph Success</b><br />
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque consequat sem ac dui pellentesque malesuada. Cras iaculis nisl non ligula maximus rutrum. Aliquam faucibus posuere orci, eu efficitur turpis hendrerit quis. Donec sed consectetur libero. Nulla facilisi. Proin non maximus libero. Integer quis leo a ante gravida euismod.
							</p>
							<p class="warning">
								<b>Paragraph Warning</b><br />
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque consequat sem ac dui pellentesque malesuada. Cras iaculis nisl non ligula maximus rutrum. Aliquam faucibus posuere orci, eu efficitur turpis hendrerit quis. Donec sed consectetur libero. Nulla facilisi. Proin non maximus libero. Integer quis leo a ante gravida euismod.
							</p>
							<p class="danger">
								<b>Paragraph Danger</b><br />
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque consequat sem ac dui pellentesque malesuada. Cras iaculis nisl non ligula maximus rutrum. Aliquam faucibus posuere orci, eu efficitur turpis hendrerit quis. Donec sed consectetur libero. Nulla facilisi. Proin non maximus libero. Integer quis leo a ante gravida euismod.
							</p>

							<h2>Label</h2>
							<p>
								<b>Label without action (link)</b><br />
								<span class="badge">default</span>
								<span class="badge primary">primary</span>
								<span class="badge success">success</span>
								<span class="badge info">info</span>
								<span class="badge warning">warning</span>
								<span class="badge danger">danger</span>
								<span class="badge neutral">neutral</span>
							</p>
							<p>
								<b>Label with action (link)</b><br />
								<a href="" class="badge">default</a>
								<a href="" class="badge primary">primary</a>
								<a href="" class="badge success">success</a>
								<a href="" class="badge info">info</a>
								<a href="" class="badge warning">warning</a>
								<a href="" class="badge danger">danger</a>
								<a href="" class="badge neutral">neutral</a>
							</p>

							<h2 class="center">Pagination (default center position)</h2>
							<ul class="pagination">
								<li class="first">
									<a href="">first</a>
								</li>
								<li class="prev disable">
									<a href="">prev</a>
								</li>
								<li class="active">
									<a href="">1</a>
								</li>
								<li>
									<a href="">2</a>
								</li>
								<li>
									<a href="">3</a>
								</li>
								<li>
									<a href="">4</a>
								</li>
								<li>
									<a href="">5</a>
								</li>
								<li class="next">
									<a href="">next</a>
								</li>
								<li class="last">
									<a href="">last</a>
								</li>
							</ul>

							<h2 class="left">Pagination (default left position)</h2>
							<ul class="pagination left">
								<li class="first">
									<a href="">first</a>
								</li>
								<li class="prev disable">
									<a href="">prev</a>
								</li>
								<li class="active">
									<a href="">1</a>
								</li>
								<li>
									<a href="">2</a>
								</li>
								<li>
									<a href="">3</a>
								</li>
								<li>
									<a href="">4</a>
								</li>
								<li>
									<a href="">5</a>
								</li>
								<li class="next">
									<a href="">next</a>
								</li>
								<li class="last">
									<a href="">last</a>
								</li>
							</ul>

							<h2 class="right">Pagination (default right position)</h2>
							<ul class="pagination right">
								<li class="first">
									<a href="">first</a>
								</li>
								<li class="prev disable">
									<a href="">prev</a>
								</li>
								<li class="active">
									<a href="">1</a>
								</li>
								<li>
									<a href="">2</a>
								</li>
								<li>
									<a href="">3</a>
								</li>
								<li>
									<a href="">4</a>
								</li>
								<li>
									<a href="">5</a>
								</li>
								<li class="next">
									<a href="">next</a>
								</li>
								<li class="last">
									<a href="">last</a>
								</li>
							</ul>

							<h2>Notification / Alert / Message</h2>
							<div class="alert" role="alert">
								<span>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam fringilla tellus non mauris condimentum fermentum. Maecenas fermentum, lectus ac varius interdum, risus nulla sagittis diam, a ullamcorper nulla enim vitae orci. Nam iaculis ex nec urna lobortis, finibus mattis neque mollis. Nunc a ante sodales, molestie lorem non, blandit felis. Vivamus ac ex eros. Nam euismod arcu diam, quis ultrices leo sollicitudin laoreet. Praesent dapibus lobortis ipsum id imperdiet.
								</span>
								<i class="icon i-m ok-bold"></i>
							</div>
							<div class="alert success" role="alert">
								<span>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam fringilla tellus non mauris condimentum fermentum. Maecenas fermentum, lectus ac varius interdum, risus nulla sagittis diam, a ullamcorper nulla enim vitae orci. Nam iaculis ex nec urna lobortis, finibus mattis neque mollis. Nunc a ante sodales, molestie lorem non, blandit felis. Vivamus ac ex eros. Nam euismod arcu diam, quis ultrices leo sollicitudin laoreet. Praesent dapibus lobortis ipsum id imperdiet.
								</span>
								<i class="icon i-m ok-bold"></i>
							</div>
							<div class="alert info" role="alert">
								<span>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam fringilla tellus non mauris condimentum fermentum. Maecenas fermentum, lectus ac varius interdum, risus nulla sagittis diam, a ullamcorper nulla enim vitae orci. Nam iaculis ex nec urna lobortis, finibus mattis neque mollis. Nunc a ante sodales, molestie lorem non, blandit felis. Vivamus ac ex eros. Nam euismod arcu diam, quis ultrices leo sollicitudin laoreet. Praesent dapibus lobortis ipsum id imperdiet.
								</span>
								<i class="icon i-m ok-bold"></i>
							</div>
							<div class="alert warning" role="alert">
								<span>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam fringilla tellus non mauris condimentum fermentum. Maecenas fermentum, lectus ac varius interdum, risus nulla sagittis diam, a ullamcorper nulla enim vitae orci. Nam iaculis ex nec urna lobortis, finibus mattis neque mollis. Nunc a ante sodales, molestie lorem non, blandit felis. Vivamus ac ex eros. Nam euismod arcu diam, quis ultrices leo sollicitudin laoreet. Praesent dapibus lobortis ipsum id imperdiet.
								</span>
								<i class="icon i-m close"></i>
							</div>
							<div class="alert danger" role="alert">
								<span>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam fringilla tellus non mauris condimentum fermentum. Maecenas fermentum, lectus ac varius interdum, risus nulla sagittis diam, a ullamcorper nulla enim vitae orci. Nam iaculis ex nec urna lobortis, finibus mattis neque mollis. Nunc a ante sodales, molestie lorem non, blandit felis. Vivamus ac ex eros. Nam euismod arcu diam, quis ultrices leo sollicitudin laoreet. Praesent dapibus lobortis ipsum id imperdiet.
								</span>
								<i class="icon i-m close"></i>
							</div>
						</div>
					</div>
				</div>

				<!-- footer -->
				<footer id="footer">
					
				</footer>
			</div>

		

		<!-- Scripts -->
			<script src="../js/jquery.min.js"></script>
			<script src="../js/superfish.js"></script>
			<script src="../js/jquery.slicknav.js"></script>
			<script src="../js/main.js"></script>
	</body>
</html>