.blog-post {
    position: relative;
    width: 100%;

    .post-media {
        position: relative;
        width: 100%;
        padding-top: (400px / 700px) * 100%;
        margin-bottom: $pm-small;

        a {
            @extend .absolute;
            color: transparent;
            border: 0;

            img {
                @extend .img-cover;
                @extend .cover-top;
            }
        }
    }

    .post-header {
        position: relative;
        width: 100%;
        margin-bottom: $pm_medium;

        .post-categories {
            position: relative;
            width: 100%;
            @extend .txt-center;
            margin-bottom: $pm_xsmall;

            a {
                @extend .inline;
                width: auto;
                height: auto;
                font-size: 14px;
                line-height: 24px;
                color: $orange;
                @extend .open;
                @extend .bold;
                @extend .txt-upper;
            }
        }

        h2.post-title {
            @extend .txt-center;
            color: $black;
            position: relative;
            width: 100%;
            margin: 0 0 $pm_xsmall 0;
        }

        .post-meta {
            position: relative;
            width: 100%;
            @extend .txt-center;

            span {
                @extend .inline;
                width: auto;
                height: auto;
                font-size: 14px;
                line-height: 24px;
                @extend .open;
                @extend .bold;
                font-style: italic;
                color: $gray;
            }
        }
    }

    .post-content {
        position: relative;
        width: 100%;

        p {
            position: relative;
            width: 100%;
            font-size: 16px;
            line-height: 28px;
            margin: 0 0;
            overflow: hidden;
            letter-spacing: 0.3px;
            max-height: calc(28px * 3);
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;  
        }
    }

    .read-more {
        position: relative;
        width: 100%;
        padding-top: $pm_small;
        @extend .txt-center;

        a {
            @extend .inline;
            width: auto;
            height: auto;
            padding: $pm-xsmall $pm-medium;
            border: 1px solid $orange;
            color: $orange;
            font-size: 12px;
            line-height: 24px;
            @extend .bold;
            @extend .txt-upper;
        }
    }

    .post-footer {
        position: relative;
        width: 100%;
        @include float-pos;
        padding-top: $pm-xsmall;
        padding-bottom: $pm-small;

        span.post-like {
            @extend .float-left;
            width: auto;

            a {
                @extend .block;
                width: 100%;
                height: 100%;
                color: $black;
                @extend .relative;
                font-size: 14px;
                line-height: 24px;
                @extend .bold;

                i.i-love {
                    position: relative;
                    @extend .inline;
                    width: 24px;
                    height: 24px;
                    color: transparent;
                    vertical-align: top;

                    &:before {
                        @extend .absolute;
                        @extend .ico;
                        content: '\E81D';
                        color: $orange;
                        font-size: 18px;
                        line-height: 24px;
                        font-style: normal;
                    }
                }
            }
        }

        span.post-comment {
            @extend .float-right;
            width: auto;

            a {
                @extend .block;
                width: 100%;
                height: 100%;
                color: $black;
                @extend .relative;
                font-size: 14px;
                line-height: 24px;
                @extend .bold;

                i.i-comment {
                    position: relative;
                    @extend .inline;
                    width: 24px;
                    height: 24px;
                    color: transparent;
                    vertical-align: top;

                    &:before {
                        @extend .absolute;
                        @extend .ico;
                        content: '\E85B';
                        color: $orange;
                        font-size: 18px;
                        line-height: 24px;
                        font-style: normal;
                    }
                }
            }
        }

        &:before {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: #e8e8e8;
            content: '';
            @extend .block;
        }
    }
}

.post-related {
    position: relative;

    .wrapper-post-related {
        position: relative;
        width: 100%;
        height: 100%;

        .post-thumbs {
            position: relative;
            padding-top: (150px / 250px) * 100%;

            a {
                @extend .absolute;
                color: transparent; 
                border: 0;

                img {
                    @extend .img-cover;
                    @extend .cover-top;
                }
            }
        }

        h4, h5 {
            margin: $pm-xsmall 0 0 0;
            text-align: left;
            text-transform: capitalize;
        }

        .post-date {
            @extend .txt-left;
            width: 100%;
            font-size: 12px;
            line-height: 24px;
            @extend .open;
            @extend .bold;
            font-style: italic;
            color: $gray;
            margin: $pm-small 0 0 0;
        }
    }
}