/* destipnation */
.destination {
    @include position('relative');
    width: 100%;
    height: auto;

    .destination-wrapper {
        @include position('relative');
        width: 100%;
        height: 100%;
        @include border-radius(5px);
        overflow: hidden;
        @include vendor('transition', (
            'all 0.5s',
        ));

        .thumbs {
            @include position('relative');
            @include pm('padding', $top: (270 / 300) * 100%);
            @include vendor('transition', (
                'all 0.5s',
            ));

            img {
                @include position('absolute', $top: 0, $left: 0);
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
                
            span {
                @include position('absolute', $bottom: 16px);
                width: 50%;
                @include fonts($roboto, 400, 16px, 24px, $align: right, $spacing: 1px);
                color: $white;
            }

            span.packages {
                right: 0;
                padding-right: 16px;
            }

            span.location {
                @include fonts($align: left, $tt: uppercase);
                left: 0;
                padding-left: 16px;

                .icon {
                    width: 24px;
                    height: 24px;
                    padding: 0 0;
                    @include pm('margin', $right: 0px);

                    &:before {
                        @include fonts($fz: 18px, $lh: 24px, $align: center);
                        color: $white;
                    }
                }
            }

            a {
                @include position('absolute', $top: 0, $left: 0);
                width: 100%;
                height: 100%;
                color: transparent;
                border: 0;
                background-color: transparent;
                opacity: 0;
                @include flex($align: center, $justify: center);
                @include vendor('transition', (
                    'all 0.5s',
                ));

                .icon {

                    &:before {
                        color: $white;
                    }
                }
            }
        }

        &:hover {
            cursor: pointer;
            @include box-shadow(0, 0, 10px, 0, $black, .5);

            .thumbs {

                a {
                    background-color: rgba($primary, 0.9);
                    opacity: 1;
                }
            }
        }
    }

    &.more {

        .destination-wrapper {
            background-color: $gray-light;
            @include border-radius(10px);

            .thumbs {

                a {
                    opacity: 1;
                    @include fonts($roboto, 500, 16px, 26px);
                    color: $primary;
                }
            }

            &:hover {
                box-shadow: none;

                .thumbs {
                    a {
                        background-color: transparent;
                    }
                }
            }
        }
    }

    @include breakpoint('<=medium') {
        
        .destination-wrapper {

            .thumbs {

                span {
                    font-size: 14px;
                }

                span.packages {
                    padding-right: 8px;
                }

                span.location {
                    padding-left: 8px;
                }
            }
        }
    }

    @include breakpoint('<=small') {
        
    .destination-wrapper {

            .thumbs {
                
                span {
                    font-size: 14px;
                }
            }
        }
    }

    @include breakpoint('<=xsmall') {
        
        .destination-wrapper {

            .thumbs {
                
                span {
                    font-size: 12px;
                }
            }
        }
    }
}

/* packages */
.packages {
    @include position('relative');
    width: 100%;
    height: auto;

    .packages-wrapper {
        @include position('relative');
        width: 100%;
        height: 100%;
        @include border-radius(5px);
        overflow: hidden;
        background-color: $white;
        @include box-shadow(0, 0, 10px, 0, $black, .5);
        @include vendor('transition', (
            'all 0.5s',
        ));

        .thumbs {
            @include position('relative');
            width: 100%;
            @include pm('padding', $top: (215 / 300) * 100%);

            a {
                @include position('absolute', $top: 0, $left: 0);
                width: 100%;
                height: 100%;
                @extend .link-transparent;

                img {
                    @extend .img-cover;
                }
            }

            .durations {
                @include position('absolute', $left: 16px, $bottom: 16px);
                width: auto;
                height: auto;
                display: block;
                color: $white;
                @include fonts($opensans, 700, 14px, 24px, $spacing: 1px);

                .icon {
                    padding: 0 0;
                    width: 24px;
                    height: 24px;
                    @include pm('margin', $right: 8px);

                    &:before {
                        color: $primary;
                    }
                }
            }

            a.hover {
                opacity: 0;
                @include position('absolute', $top: 0, $left: 0);
                width: 100%;
                height: 100%;
                background-color: transparent;
                @include flex($align: center, $justify: center, $flex-wrap: wrap, $flex-direction: column);
                padding: 16px;

                .icon {
                    padding: 0 0;
                    height: 24px;
                    width: 24px;
                    &:before {color: $white;}
                }

                span {
                    @include fonts($roboto, 500, 16px, 26px, $spacing: 1px);
                    color: $white;
                    margin-top: 8px;
                }
            }
        }

        .descriptions {
            @include position('relative');
            width: 100%;
            padding: 16px 8px;
            
            h4 {
                display: inline-block;
                width: 100%;
                @include position('relative');
                @include pm('padding-right', $right: 50px);
                @include fonts($fz: 18px, $lh: 24px);

                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    max-height: 24px;
                    overflow: hidden;
                    @include fonts($roboto, 500, 18px, 24px, $spacing: 1px);
                    color: $black;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }

            .price {
                @include position('absolute', $top: 16px, $right: 8px);
                width: 50px;
                @include fonts($roboto, 700, 14px, 24px, $align: right, $spacing: 1px);
                color: $primary;
            }

            p {
                position: relative;
                width: 100%;
                display: inline-block;
                @include pm('margin', $top: 8px, $bottom: 16px);

                a {
                    @include fonts($opensans, 400, 14px, 24px, $spacing: 1px, $align: left);
                    color: $black;
                    display: block;
                    width: 100%;
                    height: 100%;
                    max-height: calc(2 * 24px);
                    overflow: hidden;
                    word-break: break-word;
                }
            }

            a.btn {
                height: 40px;
                margin-bottom: 0;
                @include pm('padding', $top: 8px, $bottom: 8px);
            }
        }

        &:hover {
            cursor: pointer;
            
            .thumbs {

                a.hover {
                    opacity: 1;
                    background-color: rgba($primary, 0.9);
                    @include vendor('transition', (
                        'all 0.5s',
                    ));
                }
            }
        }
    }

    @include breakpoint('<=medium') {

        .packages-wrapper {
            
            .thumbs {
    
                .durations {
                    left: 8px;
                    font-size: 14px;
                }
    
                a.hover {
                    padding: 16px;
    
                    span {
                        font-size: 14px;
                        line-height: 24px;
                        margin-top: 8px;
                    }
                }
            }
    
            .descriptions {
                padding: 16px 8px;
                
                h4 {
                    padding-right: 50px;
                    font-size: 16px;
    
                    a {
                        font-size: 16px;
                    }
                }
    
                .price {
                    top: 16px;
                    right: 8px;
                    width: 50px;
                    font-size: 12px;
                }
    
                p {
    
                    a {
                        font-size: 14px;
                        line-height: 24px;
                        max-height: calc(2 * 24px);
                    }
                }
            }
        }
    }

    @include breakpoint('<=small') {

        .packages-wrapper {
            
            .thumbs {
    
                a.hover {
                    padding: 8px;
    
                    span {
                        font-size: 14px;
                        line-height: 24px;
                        margin-top: 8px;
                    }
                }
            }
    
            .descriptions {
                padding: 16px 8px;
                
                h4 {
                    padding-right: 50px;
                    font-size: 15px;
    
                    a {
                        font-size: 15px;
                    }
                }
    
                .price {
                    top: 16px;
                    right: 8px;
                    width: 50px;
                    font-size: 12px;
                }
    
                p {
    
                    a {
                        font-size: 12px;
                        line-height: 22px;
                        max-height: calc(2 * 22px);
                    }
                }
            }
        }
    }
}

/* gallery */
.gallery {
    position: relative;
    width: 100%;

    .wrapper-gallery {
        position: relative;
        width: 100%;

        .thumbs {
            padding-top: calc((1 / 1) * 100%);
            position: relative;
            width: 100%;

            a {
                @include position('absolute', $top: 0, $left: 0);
                width: 100%;
                height: 100%;
                @extend .link-transparent;

                img {
                    @extend .img-cover;
                }
            }
        }
    }
}

/* testimonial */
.testimonial {
    position: relative;
    width: 100%;

    .wrapper-testimonial {
        position: relative;
        width: 100%;
        padding: 16px 0;
        @include vendor('transition', (
            'all 0.5s',
        ));

        .box-testimonial {
            position: relative;
            width: 100%;
            background-color: $gray-light;
            @include flex($align: center, $justify: center, $flex-wrap: wrap, $flex-direction: column);
            padding: 16px;
            @include vendor('transition', (
                'all 0.5s',
            ));

            .whay-say {
                position: relative;
                width: 100%;
                @include vendor('transition', (
                    'all 0.5s',
                ));

                p {
                    margin: 0 0;
                    display: inline-block;
                    width: 100%;
                    @include fonts($fw: 500, $spacing: 1px);
                    color: rgba($black, 0.8);
                    @include vendor('transition', (
                        'all 0.5s',
                    ));
                }
            }

            .name {
                display: inline-block;
                width: 100%;
                text-align: center;
                margin: 16px 0 24px 0;

                span {
                    display: inline-block;
                    width: auto;
                    @include fonts($roboto, 500, 16px, 24px, $spacing: 1px);
                    color: $black;
                    position: relative;
                    padding: 0 32px;
                    @include vendor('transition', (
                        'all 0.5s',
                    ));

                    &:before {
                        @include position('absolute', $top: 50%, $left: 0);
                        width: 16px;
                        height: 2px;
                        background-color: $primary;
                        margin-top: -1px;
                        content: '';
                        @include vendor('transition', (
                            'all 0.5s',
                        ));
                    }

                    &:after {
                        @include position('absolute', $top: 50%, $right: 0);
                        width: 16px;
                        height: 2px;
                        background-color: $primary;
                        margin-top: -1px;
                        content: '';
                        @include vendor('transition', (
                            'all 0.5s',
                        ));
                    }
                }
            }

            .picture {
                display: block;
                position: relative;
                width: 80px;
                height: 80px;
                @include border-radius(50%);
                overflow: hidden;
                margin: 0 auto;

                img {
                    @extend .img-cover;
                }
            }
        }
    }

    @include breakpoint('<=small') {
        
        .wrapper-testimonial {
            
            .box-testimonial {
    
                .name {
                    margin: 8px 0 16px 0;
    
                    span {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}