.main-with-side {
    position: relative;
    width: 100%;

    .container,
    .container-fluid,
    .container-fix {
        @include float-pos;

        .main-content {
            width: calc(100% - 350px);

            .wrapper-main-content {
                position: relative;
                width: 100%;
            }
        }

        .side-content {
            width: 350px;

            .wrapper-side-content {
                position: relative;
                width: 100%;

                .template-widget {
                    position: relative;
                    @extend .block;
                    width: 100%;
                    margin-bottom: $pm_large;

                    .wrapper-template-widget {
                        position: relative;
                        width: 100%;

                        .photo-profile {
                            @extend .block;
                            width: 200px;
                            height: 200px;
                            @include border-radius(50%);
                            overflow: hidden;
                            margin: 0 auto;

                            img {
                                @extend .block;
                                width: 100%;
                                height: 100%;
                                @extend .img-cover;
                                @extend .cover-center;
                            }
                        }

                        h5 {
                            @extend .block;
                            @extend .txt-center;
                            margin: $pm_small 0 $pm_small 0;
                            text-transform: capitalize;
                            background: #fff;
                            position: relative;

                            span {
                                @extend .inline;
                                width: auto;
                                height: auto;
                                background: #fff;
                                z-index: 2;
                                padding: 0 $pm_medium;
                                position: relative;
                                letter-spacing: 0.5px;
                                @extend .txt-upper;
                            }

                            &:before {
                                position: absolute;
                                top: 50%;
                                left: 0;
                                height: 1px;
                                width: 100%;
                                background: #e8e8e8;
                                content: '';
                                margin-top: -0.5px;
                            }
                        }

                        p {
                            @extend .block;
                            font-size: 14px;
                            line-height: 24px;
                            margin: 0 0;
                            color: $black;
                            letter-spacing: 0.5px;
                        }

                        .social-media {
                            @extend .block;
                            @extend .txt-center;
                            position: relative;
                            display: block;
                            padding: $pm_medium $pm_medium;
                            background: #f7f7f7;

                            a.sosmed {
                                @extend .inline;
                                width: $pm_large;
                                height: $pm_large;
                                text-align: center;
                                margin: 0 -4px 0 0;
                                color: transparent;
                                position: relative;
                                background: transparent;
                                @include vendor('transition', (
                                    'all 0.5s',
                                ));

                                &:before {
                                    @extend .absolute;
                                    color: $black;
                                    @extend .ico;
                                    font-size: 32px;
                                    line-height: 48px;
                                    @extend .txt-center;
                                    content: '';
                                    @include vendor('transition', (
                                        'all 0.5s',
                                    ));
                                }

                                @include hover-focus {
                                    background: $orange;
                                    @include vendor('transition', (
                                        'background 0.5s',
                                    ));

                                    &:before {
                                        color: #fff;
                                        @include vendor('transition', (
                                            'color 0.5s',
                                        ));
                                    }
                                }

                                &.fb {

                                    &:before {content: '\EAB2';}
                                }

                                &.tw {

                                    &:before {content: '\F309';}
                                }

                                &.ig {

                                    &:before {content: '\F16D';}
                                }

                                &.youtube {

                                    &:before {content: '\F16A';}
                                }
                            }
                        }

                        .form-subscribes {
                            position: relative;
                            width: 100%;
                        }
                    }

                    &.profile-widget {

                        .wrapper-template-widget {

                            p {
                                @extend .txt-justify;
                            }
                        }
                    }

                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    &.side-right {

        .container,
        .container-fluid,
        .container-fix {

            .main-content {
                float: left;
                padding-right: $pm_small;
            }

            .side-content {
                float: right;
                padding-left: $pm_small;
            }
        }
    }

    &.side-left {

        .container,
        .container-fluid,
        .container-fix {

            .main-content {
                float: right;
                padding-left: $pm_small;
            }

            .side-content {
                float: left;
                padding-right: $pm_small;
            }
        }
    }
}