
.heroes {
    @include position('relative');
    width: 100%;
    
    .swiper-container {
        width: 100%;
        height: 100%;
        min-height: 550px;

        .swiper-wrapper {
            @include flex();
            
            .swiper-slide {
                height: auto;

                .wrapper-heroes {
                    @include position('relative');
                    width: 100%;
                    height: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;

                        &.d-dektop {@include display(block);}
                        &.d-mobile {@include display(none);}
                    }

                    .content-heroes {
                        @include position('absolute', $top: 0, $left: 0);
                        width: 100%;
                        height: 100%;

                        .container {
                            height: 100%;
                            @include flex($justify: center);
                            flex-wrap: wrap;
                            flex-direction: column;
                            @include pm('padding', $right: calc(260px + 16px + 48px), $left: calc(48px + 16px));

                            h2 {
                                color: $white;
                                margin: 0 0;

                                b {color: $primary;}
                            }

                            p {
                                @include position('relative');
                                @include display(inline-block);
                                width: 100%;
                                color: #fff;
                                @include fonts($fw: 500, $fz: 16px, $lh: 26px, $spacing: 1px);
                                @include pm('margin', $top: 32px, $bottom: 32px);

                                b {
                                    @include fonts($fz: 18px, $lh: 28px);
                                }

                                a {
                                    color: $primary;
                                    @include display(inline-block);
                                    width: auto;
                                    height: auto;
                                    @include fonts($fw: 700);
                                    @include pm('margin', $left: 24px);
                                    @include vendor('transition', (
                                        'all 0.5s',
                                    ));

                                    i {
                                        width: auto;
                                        height: auto;
                                        padding: 0 0;
                                        @include display(inline-block);
                                        @include pm('margin', $left: 16px);
                                        @include vendor('transition', (
                                            'all 0.5s',
                                        ));

                                        &:before {
                                            width: auto;
                                            height: auto;
                                            @include fonts($fz: 16px, $lh: 26px);
                                        }
                                    }

                                    &:hover {

                                        i {
                                            @include pm('margin', $left: 24px);
                                        }
                                    }
                                }
                            }

                            ul {
                                @include position('relative');
                                width: 100%;
                                @include fonts($align: left);
                                padding: 0 0;
                                margin: 0 0;
                                list-style: none;

                                li {
                                    @include display('inline-block');
                                    width: auto;
                                    @include pm('margin', $right: 16px);
                                    @include pm('padding', $top: 40px);

                                    i {
                                        @include position('absolute', $top: 8px, $left: 50%);
                                        width: 32px;
                                        height: 40px;
                                        @include pm('margin', $left: -16px);
                                        padding: 0 0;
                                        @include vendor('transition', (
                                            'all 0.5s',
                                        ));
                                        
                                        &:before {
                                            width: 32px;
                                            height: 32px;
                                            @include fonts($fz: 32px, $lh: 32px);
                                            color: $primary;
                                            @include vendor('transition', (
                                                'all 0.5s',
                                            ));
                                        }
                                    }

                                    span {
                                        @include display(inline-block);
                                        width: 100%;
                                        height: auto;
                                        @include pm('margin', $top: 8px);
                                        color: $white;
                                        @include fonts($fw:500, $fz: 16px, $lh: 26px, $spacing: 1px);
                                    }

                                    &:hover {
                                        cursor: pointer;

                                        i {
                                            top: 0;

                                            &:before {color: $white;}
                                        }
                                    }

                                    &:last-of-type {
                                        @include pm('margin', $right: 0);
                                    }
                                }
                            }

                            .send-wa {
                                @include position('absolute', $top: 50%, $right: calc(16px + 48px));
                                width: 260px;
                                height: 80px;
                                margin-top: -40px;

                                .number {
                                    position: relative;
                                    width: 100%;
                                    @include fonts($fw: 500, $fz: 14px, $lh: 24px, $align: center);
                                    color: $white;
                                    display: inline-block;
                                    margin-bottom: 8px;
                                }

                                .btn {
                                    width: 100%;
                                    text-align: center;

                                    .icon {

                                        &:before {
                                            font-size: 24px;
                                            font-weight: 400;
                                        }
                                    }

                                    span {
                                        font-weight: 400;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        //btn prev next
        .heroes-prev,
        .heroes-next {
            @include position('absolute', $top: 50%);
            width: 48px;
            height: 48px;
            outline: none;
            @include display(block);
            @include pm('margin', $top: -24px);
            z-index: 2;
            @include vendor('transition', 'all .5s');

            &:before {
                @include display(block);
                width: 100%;
                height: 100%;
                @include fonts($ico, 400, 32px, 32px, center, normal);
                color: $primary;
                content: '';
                padding: 8px;
                @include vendor('transition', 'color .5s');
            }

            //when disable
            &.swiper-button-disabled {

                &:before {
                    @include opacity('color', $primary, .5);
                }
            }

            //hover 
            &:hover {
                cursor: pointer;
            }
        }

        .heroes-prev {
            left: 0;

            &:before {
                content: '\E812';
            }
        }

        .heroes-next {
            right: 0;

            &:before {
                content: '\E813';
            }
        }

        //pagination
        .heroes-pagination {
            @include position('absolute', $left: 0, $bottom: 0);
            z-index: 2;
            width: 100%;
            height: 24px;
            @include pm('padding', $right: 8px, $left: 8px);
            outline: none;

            .swiper-pagination-bullet {
                width: 12px;
                height: 12px;
                outline: none;

                &.swiper-pagination-bullet-active {
                    background: $primary;
                }

                &:hover {
                    cursor: pointer;
                }
            }  

            &.center {text-align: center;}
            &.right {text-align: right;}
        }
    }

    @include breakpoint('<=medium') {
        
        .swiper-container {
            min-height: 100%;

            .swiper-wrapper {
                
                .swiper-slide {
    
                    .wrapper-heroes {
                        
                        img {
                            @include position('absolute', $top: 0, $left: 0);
                        }
    
                        .content-heroes {
                            position: relative;
                            @include pm('padding', $top: 56px, $bottom: 48px);
    
                            .container {
                                padding: 0 calc(32px + 16px);
    
                                h2 {
                                    text-align: center;
                                }
    
                                p {
                                    @include fonts($fz: 14px, $lh: 24px, $align: center);
                                    margin: 16px 0;
    
                                    b {
                                        @include fonts($fz: 16px, $lh: 26px);
                                    }
    
                                    a {
    
                                        i {
                                            @include pm('margin', $left: 14px);
    
                                            &:before {
                                                @include fonts($fz: 14px, $lh: 24px);
                                            }
                                        }
                                    }
                                }
    
                                ul {
                                    display: none;
                                    
                                    li {
                                        @include pm('margin', $right: 16px);
                                        @include pm('padding', $top: 32px);
    
                                        i {
                                            top: 8px;
                                            width: 24px;
                                            height: 32px;
                                            margin-left: -12px;
                                            
                                            &:before {
                                                width: 24px;
                                                height: 24px;
                                                @include fonts($fz: 24px, $lh: 24px);
                                            }
                                        }
    
                                        span {
                                            @include fonts($fz: 14px, $lh: 24px);
                                        }
                                    }
                                }

                                .send-wa {
                                    position: relative;
                                    width: 100%;
                                    height: auto;
                                    margin-top: 32px;
                                    text-align: center;
                                    top: 0;
                                    right: 0;

                                    span.number {display: none;}
    
                                    .btn {
                                        width: auto;
                                        padding-left: 16px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            //btn prev next
            .heroes-prev,
            .heroes-next {
                width: 32px;
                height: 32px;
                @include pm('margin', $top: -16px);
                
                &:before {
                    @include fonts($fz:32px, $lh: 32px);
                    padding: 0 0;
                }
            }
        }
    }

    @include breakpoint('<=small') {
        .swiper-container {
    
            .swiper-wrapper {
                
                .swiper-slide {
    
                    .wrapper-heroes {
    
                        img {
    
                            &.d-dektop {@include display(none);}
                            &.d-mobile {@include display(block);}
                        }

                        .content-heroes {

                            .container {
                                padding: 0 calc(24px + 8px);
                            }
                        }
                    }
                }
            }

            //btn prev next
            .heroes-prev,
            .heroes-next {
                width: 24px;
                height: 24px;
                @include pm('margin', $top: -12px);
                
                &:before {
                    @include fonts($fz: 24px, $lh: 24px);
                }
            }
        }   
    }
}

.slider-column {
    @include position('relative');
    width: 100%;

    .swiper-container {
        width: 100%;
        height: 100%;

        .swiper-wrapper {
            @include flex();

            .swiper-slide {
                height: auto;

                .sc-wrapper {
                    @include position('relative');
                    width: 100%;
                    height: 100%;
                    @include flex($justify: center, $align: center);
                    min-height: 250px;
                    @include border-radius(5px);
                    background-color: $gray-light;

                    span {
                        @include position('relative');
                        width: auto;
                        height: auto;
                        color: $black;
                    }
                }
            }
        }

        .sc-pagination {
            @include position('relative');
            width: 100%;
            height: 24px;
            @include flex($align: center, $justify: center);
            bottom: 0;
            @include pm('margin', $top: 8px);

            .swiper-pagination-bullet {
                width: 14px;
                height: 14px;
                outline: none;
            }
        }
    }
}