/* Basic */

	// MSIE: Required for IEMobile.
		@-ms-viewport {
			width: device-width;
		}

	// MSIE: Prevents scrollbar from overlapping content.
		body {
			-ms-overflow-style: scrollbar;
		}

	// Ensures page width is always >=320px.
		@include breakpoint('<=xsmall') {
			html, body {
				min-width: 320px;
			}
		}

	// Set box model to border-box.
	// Based on css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
		html {
			box-sizing: border-box;
		}

		* {
			box-sizing: border-box;
		}
		
		*:before, *:after {
			box-sizing: inherit;
		}

	body {

		background-color: #fff;
	}

	



.link-transparent {
    color: transparent;
    border: 0;
    text-decoration: none;
}

//font-weight
.fw-300 {font-weight: 300;}
.fw-400 {font-weight: 400;}
.fw-500 {font-weight: 500;}
.fw-600 {font-weight: 600;}
.fw-700 {font-weight: 700;}
.fw-800 {font-weight: 800;}


//text position
.txt-left {text-align: left;}
.txt-center {text-align: center;}
.txt-right {text-align: right;}
.txt-justify {text-align: justify;}
.txt-upper {text-transform: uppercase;}
.txt-lower {text-transform: none;}

//font family
.open {font-family: $opensans;}
.ico {font-family: $ico;}
.fair {font-family: $fair;}
.poppin {font-family: $poppin;}
.roboto {font-family: $roboto;}

//position
.float-left {float: left;}
.float-right {float: right;}
.float-none {float: none;}
.absolute {position: absolute;}
.relative {position: relative;}

//absolute top left
.absolute-tl {
    @extend .absolute;
    top: 0;
    left: 0;
}

//absolute bottom left 
.absolute-bl {
    @extend .absolute;
    left: 0;
    bottom: 0;
}

//absolute top right 
.absolute-tr {
    @extend .absolute;
    top: 0;
    right: 0;
}

//absolute bottom right 
.absolute-br {
    @extend .absolute;
    bottom: 0;
    right: 0;
}

//absolute center
.absolute-center {
    @extend .absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//absolute full
.absolute-full {
    @extend .absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

//image
.img-cover {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 0;
}
.cover {object-fit: cover;}
.cover-tl {object-position: top left;}
.cover-tc {object-position: top center;}
.cover-tr {object-position: top right;}
.cover-center {object-position: center;}
.cover-bl {object-position: bottom left;}
.cover-bc {object-position: bottom center;}
.cover-br {object-position: bottom right;}