.w-icon
	.row
		.c-icon
			i.icon.facebook
			.code 
				span code
				| F09A

		.c-icon
			i.icon.twitter
			.code 
				span code
				| F099

		.c-icon
			i.icon.instagram
			.code 
				span code
				| F16D

		.c-icon
			i.icon.whatsapp
			.code 
				span code
				| F232

		.c-icon
			i.icon.email
			.code 
				span code
				| E800

		.c-icon
			i.icon.whatsapp
			.code 
				span code
				| F232

		.c-icon
			i.icon.whatsapp
			.code 
				span code
				| F232

		.c-icon
			i.icon.whatsapp
			.code 
				span code
				| F232

		.c-icon
			i.icon.whatsapp
			.code 
				span code
				| F232

		.c-icon
			i.icon.whatsapp
			.code 
				span code
				| F232

		.c-icon
			i.icon.whatsapp
			.code 
				span code
				| F232

		.c-icon
			i.icon.whatsapp
			.code 
				span code
				| F232

		.c-icon
			i.icon.whatsapp
			.code 
				span code
				| F232

		.c-icon
			i.icon.whatsapp
			.code 
				span code
				| F232

		.c-icon
			i.icon.whatsapp
			.code 
				span code
				| F232